<!--The content below is only a placeholder and can be replaced.-->
<header></header>

<div class="container content"> <!-- container centers content on large screens -->
  <div class="row">             <!-- responsive row has 12 columns by default -->
    <div class="col-md-4">      <!-- uses 6 columns on medium and larger screens... -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <div class="mat-app-background basic-container">
        <tree-flat-overview-example>loading</tree-flat-overview-example>
      </div>
    </div>
    <div id="right-panel" class="col-md-8">      <!-- uses 12 columns on smaller than medium screens -->
      <div id="timeToRender" style="margin-top: 20px;"></div>
      <button id="changeTimeScale" title="Same Scale on All Channels" type="button" class="btn btn-primary active" data-toggle="button" aria-pressed="true" autocomplete="off">Same Scale<i class="fas fa-expand-arrows-alt fa-lg fa-fw"></i></button>
      <button id="zoomAll" title="Zoom or Pan All Channels" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Zoom All<i class="fas fa-link fa-lg fa-fw"></i></button>
      <button id="backBtn" title="Undo last Zoom or Pan" type="button" class="btn btn-primary">Back Zoom<i class="fas fa-arrow-left fa-lg fa-fw"></i></button>
      <button id="resetAll" title="Reset View after Zoom or Pan" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Reset View<i class="fas fa-undo-alt fa-lg fa-fw"></i></button>
      <button id="zoomMode" title="XY Zoom and Pan" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">XY Zoom<i class="fas fa-arrows-alt fa-lg fa-fw"></i></button>
      <button id="showTooltip" title="Show Tooltips" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">Show Tooltips<i class="far fa-comment-alt fa-lg fa-fw"></i></button>
    </div>
  </div>
</div>

<footer></footer>



