<h1 mat-dialog-title>Help</h1>
<mat-dialog-content>
  <h5>Zoom and Pan</h5>
  <div><b>ALT + Mouse Scroll</b> - Time Pan</div>
  <div><b>CTRL + Mouse Scroll</b> - Amplitude Zoom</div>
  <div><b>SHIFT + Mouse Scroll</b> - Time Zoom</div>
  <!--div><b>Amplitude Zoom</b> - CTRL + WHEEL or CTRL + ARROWS UP/DOWN</div>
  <div><b>Time Zoom</b> - SHIFT + WHEEL or SHIFT + ARROWS UP/DOWN</div>
  <div><b>Amplitude Pan</b> - CTRL + ARROWS LEFT/RIGHT</div>
  <div><b>Time Pan</b> - ALT + WHEEL or SHIFT + ARROWS LEFT/RIGHT</div-->
  <hr>
  <h5>Picking</h5>
  <div><b>d </b> - Toggle P Pick Mode</div>
  <div><b>f </b> - Toggle S Pick Mode</div>
  <div><b>s </b> - Undo Last Picking Operation</div>
  <div><b>LEFT in P Mode / CTRL + LEFT / Context</b> - Create / Move P Pick</div>
  <div><b>RIGHT in P Mode / CTRL + RIGHT / Context</b> - Remove P Pick</div>
  <div><b>LEFT in S Mode / SHIFT + LEFT / Context</b> - Create / Move S Pick</div>
  <div><b>RIGHT in S Mode / SHIFT + RIGHT / Context</b> - Remove S Pick</div>
  <div><b>Arrow R/L / Mouse Scroll Down/Up in P/S Mode</b> - Move Pick to Right/Left</div>
  <div><b>SHIFT + Right/Left Arrow in P/S Mode</b> - Move Pick Fast to Right/Left</div>
  <hr>
  <h5>Navigation</h5>
  <div><b>1</b> - Previous Page</div>
  <div><b>2</b> - Next Page</div>
  <hr>
  <h5>Evaluation</h5>
  <div><b>q</b> - Set Event as Rejected</div>
  <div><b>w</b> - Set Event as Confirmed</div>
  <div><b>e</b> - Toggle Event Edit Dialog</div>
  <hr>
  <h5>Other</h5>
  <div><b>z</b> - Toggle Common Time Mode</div>
  <div><b>x</b> - Toggle Common Amplitude Mode</div>
  <div><b>p</b> - Toggle Predicted Picks</div>
  <div><b>r</b> - Toggle Accepted/Rejected Event Status</div>
  <div><b>h</b> - Toggle Help</div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button
      mat-raised-button
      mat-dialog-close
    >Close</button>
  </mat-dialog-actions>
