td.mat-column-actions,
td.mat-column-detail {
  width: 30px;
  padding-right: 8px;
}

td.mat-column-id {
  width: 90px;
  padding-right: 8px;
}

th.mat-header-cell,
td.mat-cell {
  padding-left: 15px;
}

// .mat-table-sticky:first-child {
//   border-right: 1px solid #e0e0e0;
// }

// .mat-table-sticky:last-child {
//   border-left: 1px solid #e0e0e0;
// }

.content {
  background: #fff;
}

tr.example-detail-row {
  height: 0;

  td {
    border-bottom-width: 0;
  }
}

.example-expanded-row {
  td {
    border-bottom-width: 0;
  }
}

tr.example-expanded-detail {
  td {
    &:after {
      content: '';
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      position: absolute;
      left: 0;
      right: 0;
      z-index: 2;
    }
  }
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
