<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://api.microquake.org">
            Microquake
          </a>
        </li>
        <li>
          <a href="https://www.microquake.org/about-us">
            About Us
          </a>
        </li>
        <li>
          <a href="https://www.microquake.org/license">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}},
      <a href="https://www.microquake.org" target="_blank">Microquake</a>.
    </div>
  </div>
</footer>
