:host {
  width: 100%;
  height: 100%;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

mat-expansion-panel-header {
  border-radius: 0;

  &.main-header {

    mat-panel-title {
      margin-right: 0;
    }

    &,
    &.mat-expanded:focus,
    &.mat-expanded:hover,
    &:hover {
      background: #f1f1f1;
    }
  }
}


.day {

  &.mat-expansion-panel-spacing {
    margin: 0;
  }

  mat-expansion-panel-header {

    &,
    &:focus,
    &:hover {
      background: #f9f9f9;

      mat-panel-title {
        font-weight: 500;
      }
    }
  }
}

.mat-list-base .mat-list-item {
  position: relative;
  font-weight: 400;

  &:after,
  &:before {
    font-family: 'Material Icons';
    -webkit-font-feature-settings: 'liga';
    color: #333;
    position: absolute;
    top: 0;
    left: -5px;
    bottom: 0;
    margin: auto;
    width: 23px;
    height: 23px;
    font-size: 25px;
    border: 1px solid transparent;
    border-radius: 50%;
  }

  &:after {
    right: -5px;
    left: unset;
  }

  .event-icon .mat-badge-content {
    right: -6px;
    left: unset;
    top: 0px;
    bottom: auto;
    margin: auto;
    font-size: 5px;
    width: 10px;
    height: 10px;
    line-height: 10px;
  }

  &.active {

    &,
    & small {
      // font-weight: 800;
    }

    &:before {
      content: "arrow_right";
    }


    .chart-button {
      // color: blue;
    }

  }

  &.active-chart {
    &:after {
      content: "arrow_left";
    }
  }

  &.event-no-status {

    .event-icon .mat-badge-content {
      background: #e8e300;
      color: #e8e300;
    }
  }

  &.event-accepted-manual {

    .event-icon .mat-badge-content {
      background: green;
      color: green;
    }
  }

  &.event-accepted-automatic {

    .event-icon .mat-badge-content {
      background: blue;
      color: blue;
    }
  }

  &.event-rejected-manual {

    .event-icon .mat-badge-content {
      background: red;
      color: red;
    }
  }

  &.event-rejected-automatic {

    .event-icon .mat-badge-content {
      background: purple;
      color: purple;
    }
  }

  button.chart-button {
    color: #aaa;
  }
}
