<mat-accordion class="days">

  <ng-container *ngFor="let day of eventsDailySummary; let i = index; trackBy: trackDay">
    <ng-container *ngTemplateOutlet="dayTemplate;context: {day: day}"></ng-container>
  </ng-container>

  <ng-template
    #dayTemplate
    let-day="day"
  >
    <mat-expansion-panel
      [id]="'day-'+day.date"
      [expanded]="reopenDay && day?.dayDate?.isSame(currentEventDay)"
      class="mat-elevation-z day"
      hideToggle
      (opened)="onDayChanged(day)"
    >
      <mat-expansion-panel-header
        [collapsedHeight]="'30px'"
        [expandedHeight]="'30px'"
      >
        <mat-panel-title>
          {{day?.dayDate | date:' MMM dd':timezone}} <small class="pl-1">
            {{day?.dayDate | date:'yyyy':timezone}}</small>
        </mat-panel-title>
        <mat-panel-description class="mr-0 day-description">
          <small
            class="day-description-left-section"
            *ngIf="!!day?.magnitude_max"
          >
            {{day?.magnitude_max ? (day?.magnitude_max | eventMagnitude) : 'none'}}<i><span class="pre">M</span>
              <div class="supsub"><sup>max</sup><sub>w</sub></div>
            </i>
          </small>
          <div class="day-description-right-section">
            <ng-container *ngIf="!day?.partial; then nonPartialTemplate; else partialTemplate"></ng-container>
            <ng-template #nonPartialTemplate>
              <div
                [matTooltipClass]="'break-line-tooltip'"
                [matTooltipPosition]="'right'"
                [matTooltip]="
              (!!day?.dayDate ? (day?.dayDate | date:' MMM dd yyyy':timezone) : '') + '\n' +
              (day?.accepted_counts?._total_ !== null ? day?.accepted_counts?._total_ : '?') + ' accepted seismic events\n '+
              (day?.count !== null ? day?.count : '?') + ' total events in current filter'
              "
              >
                {{!!day?._total_ ? day?._total_ : (day?.accepted_counts?._total_ !== null ? day?.accepted_counts?._total_ : '?')}}
                /
                {{day?.count !== null ? day?.count : '?'}}
              </div>
            </ng-template>
            <ng-template #partialTemplate>
              <mat-icon
                [matTooltipClass]="'break-line-tooltip'"
                [matTooltipPosition]="'right'"
                [matTooltip]="'Day is outside of the event filter. \n Day shows, becase event in this day has currenty loaded waveform charts'"
                style="font-size: 18px; line-height: 22px;"
                color="warn"
              >warning</mat-icon>
            </ng-template>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <ng-container *ngIf="day?.events; then eventListTemplate; else noEventListTemplate"></ng-container>
        <ng-template #eventListTemplate>
          <ng-container
            *ngIf="day?.events?.length === 0; then eventListWithZeroEventsTemplate; else eventListWithMoreEventsTemplate"
          >
          </ng-container>
          <ng-template #eventListWithZeroEventsTemplate>
            <h5 class="text-center pt-4 pb-2 mb-0">No events</h5>
          </ng-template>
          <ng-template #eventListWithMoreEventsTemplate>
            <mat-nav-list dense>
              <ng-container *ngFor="let event of day?.events; let j = index;trackBy: trackEvent">
                <a
                  mat-list-item
                  [id]="'event-'+event?.event_resource_id"
                  (click)="onEventClick(event)"
                  (contextmenu)="contextMenu?.open($event, { event:event}) && false"
                  [ngClass]="{
                            'active': event?.event_resource_id === currentEventInfo?.event_resource_id,
                            'active-chart': event?.event_resource_id === currentEvent?.event_resource_id,
                            'event-no-status': !event?.status,
                            'event-accepted-manual': ['preliminary', 'confirmed', 'reviewed', 'final', 'reported'].indexOf(event?.status) > -1 && event?.evaluation_mode === 'manual',
                            'event-accepted-automatic': ['preliminary', 'confirmed', 'reviewed', 'final', 'reported'].indexOf(event?.status) > -1 && event?.evaluation_mode === 'automatic',
                            'event-rejected-manual': ['rejected'].indexOf(event?.status) > -1 && event?.evaluation_mode === 'manual',
                            'event-rejected-automatic': ['rejected'].indexOf(event?.status) > -1 && event?.evaluation_mode === 'automatic',
                            'event-outside-clientside-filter': (magnitudeMax && event?.magnitude > magnitudeMax) || (magnitudeMin && event?.magnitude < magnitudeMin)
                        }"
                >
                  <mat-icon class="event-icon mat-badge">
                    {{event?.event_type | eventTypeIcon}}
                    <span class="mat-badge-content mat-badge-active">.</span>
                  </mat-icon>
                  <div class="px-3 event-id">

                    {{event?.time_utc | date:'HH:mm:ss':timezone}}
                    <small>{{event?.time_utc | date:'.SSS'}}</small>
                    <ng-container *ngIf="event?.magnitude !== -999 && event?.magnitude">
                      ({{event?.magnitude | eventMagnitude}} {{event?.magnitude_type}})
                    </ng-container>
                  </div>

                  <ng-container *ngIf="event?.outsideOfCurrentFilter">
                    <mat-icon
                      matTooltip="Event is outside of the event filter."
                      style="font-size: 18px; line-height: 22px;"
                      color="warn"
                    >warning</mat-icon>
                  </ng-container>

                  <ng-container
                    *ngIf="(magnitudeMax && event?.magnitude > magnitudeMax) || (magnitudeMin && event?.magnitude < magnitudeMin)"
                  >
                    <mat-icon
                      matTooltip="Magnitude is outside defined filter."
                      style="font-size: 18px; line-height: 22px;opacity: 0.6;"
                    >warning</mat-icon>
                  </ng-container>

                  <ng-container *ngIf="
                    (automaticProcessingEventsIds && automaticProcessingEventsIds?.indexOf(event?.event_resource_id) > -1) ||
                    (interactiveProcessingEventsIds && interactiveProcessingEventsIds?.indexOf(event?.event_resource_id) > -1)
                    ">
                    <mat-icon
                      matTooltip="{{(automaticProcessingEventsIds && automaticProcessingEventsIds?.indexOf(event?.event_resource_id) > -1)  ? 'Automatic' : 'Interactive'}} processing is running."
                      style="font-size: 18px; line-height: 22px;"
                      color="warn"
                    >access_time</mat-icon>
                  </ng-container>
                  <div class="mr-auto"></div>
                  <button
                    class="chart-button"
                    mat-icon-button
                    matTooltip="Open chart"
                    matTooltipPosition="right"
                    (click)="onChartClick(event);$event.stopPropagation()"
                  >
                    <mat-icon>insert_chart_outlined</mat-icon>
                  </button>
                </a>
                <mat-divider *ngIf="j !== day?.events?.length - 1"></mat-divider>
              </ng-container>
            </mat-nav-list>
          </ng-template>
        </ng-template>
        <ng-template #noEventListTemplate>
          <mat-spinner
            class="mx-auto mt-3"
            [diameter]="39"
            [strokeWidth]="3"
          ></mat-spinner>
        </ng-template>
      </ng-template>
    </mat-expansion-panel>
  </ng-template>
</mat-accordion>



<app-context-menu
  [matMenuTriggerFor]="contextMenuMain"
  #contextMenu
>
  <mat-menu
    [hasBackdrop]="true"
    #contextMenuMain="matMenu"
  >
    <ng-template
      matMenuContent
      let-event="event"
    >
      <button
        mat-menu-item
        (click)="onContextMenuAutomaticProcessingClick(event)"
      >Trigger automatic processing</button>
      <button
        mat-menu-item
        (click)="onContextMenuEventDuplicationClick(event)"
      >Duplicate event</button>
      <!-- <button
        mat-menu-item
        [matMenuTriggerFor]="contextMenuPicksSubMenu"
        [disabled]="true"
      >Picks</button> -->
    </ng-template>

  </mat-menu>
</app-context-menu>

<mat-menu #contextMenuPicksSubMenu="matMenu">
  <button
    mat-menu-item
    [disabled]="true"
  >Remove all</button>
  <button
    mat-menu-item
    [disabled]="true"
  >Offset time</button>
</mat-menu>
