<app-waveform-toolbar></app-waveform-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    mode="side"
    align="start"
    [opened]="(waveformService.sidebarOpened | async)"
  >
    <mat-accordion
      class="d-flex flex-column"
      [multi]="true"
    >
      <mat-expansion-panel
        class="mat-elevation-z event-list flex-fill"
        [disabled]="true"
        [expanded]="true"
      >
        <mat-expansion-panel-header
          class="main-header"
          [collapsedHeight]="'50px'"
          [expandedHeight]="'50px'"
        >
          <mat-panel-title>
            <strong class="text-uppercase align-self-center">Event list</strong>

            <button
              class="ml-1"
              mat-button
              color="primary"
              [routerLink]="['/events']"
              queryParamsHandling="merge"
            >
              <mat-icon class="mat-18">reorder</mat-icon>
              <small>List</small>
            </button>
            <div class="mr-auto"></div>
            <button
              class="filter-button"
              *ngIf="waveformService.eventListQuery"
              color="primary"
              mat-button
              (click)="waveformService.openEventFilterDialog();$event.stopPropagation()"
            >
              <mat-icon
                class="mat-18"
                [matBadge]="waveformService.numberOfChangesInFilter"
                [matBadgeHidden]="waveformService.numberOfChangesInFilter === 0"
                matBadgePosition="after"
                matBadgeColor="warn"
              >filter_list</mat-icon>
              <small>
                {{waveformService.eventListQuery.time_utc_after | date:' MMM dd': timezone}} -
                {{waveformService.eventListQuery.time_utc_before | date:' dd yyyy': timezone}}
              </small>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <ng-container *ngIf="(initialized | async ) && eventsDailySummary?.length === 0 && !loadingEventList">
            <h5 class="text-center pt-4 pb-2">No events found</h5>
            <p class="text-center">Try to change filter: <button
                class="filter-button"
                *ngIf="waveformService.eventListQuery"
                color="primary"
                mat-button
                (click)="waveformService.openEventFilterDialog();$event.stopPropagation()"
              >
                <mat-icon
                  class="mat-18"
                  [matBadge]="numberOfChangesInFilter"
                  [matBadgeHidden]="numberOfChangesInFilter === 0"
                  matBadgePosition="after"
                  matBadgeColor="warn"
                >filter_list</mat-icon>
                <small>
                  ({{waveformService.eventListQuery?.time_utc_after | date:' MMM dd': timezone}} -
                  {{waveformService.eventListQuery?.time_utc_before | date:' dd yyyy': timezone}})
                </small>
              </button>
            </p>
          </ng-container>
          <app-event-catalog
            [forceCD]="changeDetectCatalog"
            [eventsDailySummary]="eventsDailySummary"
            [timezone]="timezone"
            [currentEvent]="currentEvent"
            [currentEventInfo]="currentEventInfo"
            [interactiveProcessingEvents]="waveformService?.interactiveProcessActiveList | async"
            [filterTimeAfter]="waveformService.eventListQuery?.time_utc_after"
            [filterTimeBefore]="waveformService.eventListQuery?.time_utc_before"
            (chartClick)="openChart($event)"
            (eventClick)="openEvent($event)"
            (dayChanged)="dayChanged($event)"
          ></app-event-catalog>
        </ng-template>
        <ngx-spinner name="loadingEventList"></ngx-spinner>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="true"
        [disabled]="true"
        class="mat-elevation-z event-detail flex-fill"
      >
        <mat-expansion-panel-header
          class="main-header"
          [collapsedHeight]="'50px'"
          [expandedHeight]="'50px'"
        >
          <mat-panel-title>
            <strong class="text-uppercase align-self-center">Event detail</strong>
            <div class="mr-auto"></div>
            <!-- TODO: REMOVE -->
            <button
              *ngIf=""
              color="primary"
              mat-button
              (click)="$event.stopPropagation()"
            >
              <mat-icon class="mat-18">new_releases</mat-icon>
              <small class="align-self-center">
                IP
              </small>
            </button>

            <button
              *ngIf="currentEventInfo"
              color="primary"
              mat-button
              (click)="waveformService.openEventUpdateDialog(currentEventInfo);$event.stopPropagation()"
            >
              <mat-icon class="mat-18">edit</mat-icon>
              <small class="align-self-center">
                Edit
              </small>
            </button>

          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-event-info
          [event]="currentEventInfo"
          [eventTypes]="waveformService.eventTypes"
          [evaluationStatuses]="waveformService.evaluationStatuses"
          [eventEvaluationModes]="waveformService.eventEvaluationModes"
          (acceptClicked)="waveformService.onAcceptClick(currentEventInfo?.event_resource_id,$event)"
          (rejectClicked)="waveformService.onDeclineClick(currentEventInfo?.event_resource_id,$event)"
          [loading]="loadingCurrentEvent"
        ></app-event-info>
      </mat-expansion-panel>
      <ngx-spinner name="loadingCurrentEventAndList"></ngx-spinner>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      class="collapse-button"
      [ngClass]="{'outside': !(waveformService.sidebarOpened | async)}"
      matTooltip="Collapse Sidebar"
    >
      <button
        [color]="!(waveformService.sidebarOpened | async) ? 'primary' : 'primary'"
        type="button"
        aria-label="Toggle event sidebar"
        mat-mini-fab
        (click)="onCollapseButtonClick()"
      >
        <mat-icon
          *ngIf="(waveformService.sidebarOpened | async)"
          aria-label="Event sidebar icon"
        >arrow_left</mat-icon>
        <mat-icon
          *ngIf="!(waveformService.sidebarOpened | async)"
          aria-label="Event sidebar icon"
        >arrow_right</mat-icon>
      </button>
    </div>
    <app-waveform-2
      *ngIf="true"
      [timezone]="timezone"
    ></app-waveform-2>
  </mat-sidenav-content>
</mat-sidenav-container>
<ngx-spinner name="loadingInteractiveProcessing">
  <div>
    <p
      class="text-center"
      style="font-size: 27px; font-weight: 600; color: #fff; padding-top: 180px;"
    >
      Interactive processing
    </p>
    <div
      style="width: 100%; margin: 45px auto 0;"
      class="d-flex justify-content-around"
    >
      <button
        [disabled]="true"
        mat-raised-button
        (click)="waveformService.cancelLastInteractiveProcess()"
      >Cancel</button>
      <button
        (click)="waveformService.runInteractiveProcessInBg()"
        class=""
        color="primary"
        mat-raised-button
      >Run in background</button>
    </div>
  </div>
</ngx-spinner>

<ngx-spinner name="loadingAcceptIntercativeProcessing">
  <div>
    <p
      class="text-center"
      style="font-size: 27px; font-weight: 600; color: #fff; padding-top: 180px;"
    >
      Accepting interactive processing
    </p>
    <div
      style="width: 100%; margin: 45px auto 0;"
      class="d-flex justify-content-around"
    >
    </div>
  </div>
</ngx-spinner>
