<mat-sidenav-container>
  <mat-sidenav
    mode="side"
    align="start"
    opened
  >
    <app-header-layout></app-header-layout>
    <mat-accordion
      class="d-flex flex-column"
      [multi]="true"
    >
      <mat-expansion-panel
        class="mat-elevation-z event-list flex-fill"
        [disabled]="true"
        [expanded]="true"
      >
        <mat-expansion-panel-header
          class="main-header"
          [collapsedHeight]="'50px'"
          [expandedHeight]="'50px'"
        >
          <mat-panel-title>
            <strong class="text-uppercase align-self-center">Event list</strong>
            <div class="mr-auto"></div>
            <button
              class="filter-button"
              *ngIf="eventListQuery"
              color="primary"
              mat-button
              (click)="openEventFilterDialog();$event.stopPropagation()"
            >
              <mat-icon
                class="mat-18"
                [matBadge]="numberOfChangesInFilter"
                [matBadgeHidden]="numberOfChangesInFilter === 0"
                matBadgePosition="after"
                matBadgeColor="warn"
              >filter_list</mat-icon>
              <small>
                {{eventListQuery.start_time | date:' MMM dd': boundaries?.timezone}} -
                {{eventListQuery.end_time | date:' dd yyyy': boundaries?.timezone}}
              </small>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <ng-container *ngIf="(initialized | async ) && events?.length === 0 && !loadingEventList">
            <h5 class="text-center pt-4 pb-2">No events found</h5>
            <p class="text-center">Try to change filter: <button
                class="filter-button"
                *ngIf="eventListQuery"
                color="primary"
                mat-button
                (click)="openEventFilterDialog();$event.stopPropagation()"
              >
                <mat-icon
                  class="mat-18"
                  [matBadge]="numberOfChangesInFilter"
                  [matBadgeHidden]="numberOfChangesInFilter === 0"
                  matBadgePosition="after"
                  matBadgeColor="warn"
                >filter_list</mat-icon>
                <small>
                  ({{eventListQuery.start_time | date:' MMM dd': boundaries?.timezone}} -
                  {{eventListQuery.end_time | date:' dd yyyy': boundaries?.timezone}})
                </small>
              </button>
            </p>
          </ng-container>
          <app-event-catalog
            [events]="events"
            [timezone]="boundaries?.timezone"
            [currentEvent]="currentEvent"
            (chartClick)="openChart($event)"
            (eventClick)="openEvent($event)"
          ></app-event-catalog>
        </ng-template>
        <ngx-loading [show]="loadingEventList"></ngx-loading>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="true"
        [disabled]="true"
        class="mat-elevation-z event-detail flex-fill"
      >
        <mat-expansion-panel-header
          class="main-header"
          [collapsedHeight]="'50px'"
          [expandedHeight]="'50px'"
        >
          <mat-panel-title>
            <strong class="text-uppercase align-self-center">Event detail</strong>
            <div class="mr-auto"></div>
            <button
              *ngIf="currentEvent"
              color="primary"
              mat-button
              (click)="openEventUpdateDialog();$event.stopPropagation()"
            >
              <mat-icon class="mat-18">edit</mat-icon>
              <small class="align-self-center">
                Edit
              </small>
            </button>

          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-event-info
          [event]=currentEvent
          [eventTypes]="eventTypes"
        ></app-event-info>
        <ngx-loading [show]="loadingCurrentEvent"></ngx-loading>
      </mat-expansion-panel>
      <ngx-loading [show]="loadingCurrentEventAndList"></ngx-loading>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-waveform-2
      *ngIf="true"
      [event]="currentEventChart"
    ></app-waveform-2>
  </mat-sidenav-content>
</mat-sidenav-container>
