<mat-sidenav-container>
  <mat-sidenav
    mode="side"
    align="start"
    opened
  >
    <app-header-layout></app-header-layout>
    <mat-accordion
      class="d-flex flex-column"
      [multi]="true"
    >
      <mat-expansion-panel
        class="mat-elevation-z event-list flex-fill"
        [disabled]="true"
        [expanded]="true"
      >
        <mat-expansion-panel-header
          class="main-header"
          [collapsedHeight]="'50px'"
          [expandedHeight]="'50px'"
        >
          <mat-panel-title>
            <strong class="text-uppercase align-self-center">Event list</strong>
            <div class="mr-auto"></div>
            <button
              class="filter-button"
              *ngIf="eventListQuery"
              color="primary"
              mat-button
              (click)="openEventFilterDialog();$event.stopPropagation()"
            >
              <mat-icon
                class="mat-18"
                [matBadge]="numberOfChangesInFilter"
                [matBadgeHidden]="numberOfChangesInFilter === 0"
                matBadgePosition="after"
                matBadgeColor="warn"
              >filter_list</mat-icon>
              <small>
                ({{eventListQuery.start_time | date:' MMM dd': boundaries?.timezone}} -
                {{eventListQuery.end_time | date:' dd yyyy': boundaries?.timezone}})
              </small>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <ng-container *ngIf="(initialized | async ) && days?.length === 0 && !loadingEventList">
            <h5 class="text-center pt-4 pb-2">No events found</h5>
            <p class="text-center">Try to change filter: <button
                class="filter-button"
                *ngIf="eventListQuery"
                color="primary"
                mat-button
                (click)="openEventFilterDialog();$event.stopPropagation()"
              >
                <mat-icon
                  class="mat-18"
                  [matBadge]="numberOfChangesInFilter"
                  [matBadgeHidden]="numberOfChangesInFilter === 0"
                  matBadgePosition="after"
                  matBadgeColor="warn"
                >filter_list</mat-icon>
                <small>
                  ({{eventListQuery.start_time | date:' MMM dd': boundaries?.timezone}} -
                  {{eventListQuery.end_time | date:' dd yyyy': boundaries?.timezone}})
                </small>
              </button>
            </p>
          </ng-container>
          <mat-accordion
            class="days"
            *ngIf="days"
          >
            <mat-expansion-panel
              *ngFor="let day of days; let i = index; trackBy: trackDay"
              class="mat-elevation-z day"
              [expanded]="i === 0"
              hideToggle
            >
              <mat-expansion-panel-header
                [collapsedHeight]="'30px'"
                [expandedHeight]="'30px'"
              >
                <mat-panel-title>
                  {{day?.dayDate | date:' MMM dd': boundaries?.timezone}} <small class="pl-1">
                    {{day?.dayDate | date:'yyyy': boundaries?.timezone}}</small>
                </mat-panel-title>
                <mat-panel-description>
                  <div class="mr-auto"></div>
                  ({{day?.dayEvents.length}} events)
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-nav-list dense>
                <ng-container *ngFor="let dayEvent of day?.dayEvents; let j = index;trackBy: trackEvent">
                  <a
                    mat-list-item
                    [routerLink]="['/v2/events', dayEvent?.event?.event_resource_id]"
                    [ngClass]="{
                      'active': dayEvent?.event?.event_resource_id === currentEvent?.event_resource_id,
                      'event-accepted-manual': ['preliminary', 'confirmed', 'reviewed', 'final', 'reported'].indexOf(dayEvent?.event?.status) > -1 && dayEvent?.event?.evaluation_mode === 'manual',
                      'event-accepted-automatic': ['preliminary', 'confirmed', 'reviewed', 'final', 'reported'].indexOf(dayEvent?.event?.status) > -1 && dayEvent?.event?.evaluation_mode === 'automatic',
                      'event-rejected-manual': ['rejected'].indexOf(dayEvent?.event?.status) > -1 && dayEvent?.event?.evaluation_mode === 'manual',
                      'event-rejected-automatic': ['rejected'].indexOf(dayEvent?.event?.status) > -1 && dayEvent?.event?.evaluation_mode === 'automatic'
                  }"
                  >
                    <mat-icon>
                      {{dayEvent?.event?.event_type | eventTypeIcon}}
                    </mat-icon>
                    <div class="px-3">
                      {{dayEvent?.event?.time_utc | date:'HH:mm:ss':dayEvent?.event?.timezone}}
                      <small>{{dayEvent?.event?.time_utc | date:'.SSS'}}</small>
                      <ng-container *ngIf="dayEvent?.event?.magnitude !== -999">
                        ({{dayEvent?.event?.magnitude | eventMagnitude}} {{dayEvent?.event?.magnitude_type}})
                      </ng-container>
                    </div>
                    <div class="mr-auto"></div>
                    <button
                      class="chart-button"
                      mat-icon-button
                      matTooltip="Open chart"
                      (click)="openChart(dayEvent?.event)"
                    >
                      <mat-icon>insert_chart_outlined</mat-icon>
                    </button>
                  </a>
                  <mat-divider *ngIf="j !== day?.dayEvents?.length - 1"></mat-divider>
                </ng-container>
              </mat-nav-list>
            </mat-expansion-panel>

          </mat-accordion>

        </ng-template>

        <ngx-loading [show]="loadingEventList"></ngx-loading>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="true"
        [disabled]="true"
        class="mat-elevation-z event-detail flex-fill"
      >
        <mat-expansion-panel-header
          class="main-header"
          [collapsedHeight]="'50px'"
          [expandedHeight]="'50px'"
        >
          <mat-panel-title>
            <strong class="text-uppercase align-self-center">Event detail</strong>
            <div class="mr-auto"></div>
            <button
              *ngIf="currentEvent"
              color="primary"
              mat-button
              (click)="openEventUpdateDialog();$event.stopPropagation()"
            >
              <mat-icon class="mat-18">edit</mat-icon>
              <small class="align-self-center">
                Edit
              </small>
            </button>

          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-event-info
          [event]=currentEvent
          [eventTypes]="eventTypes"
        ></app-event-info>
        <ngx-loading [show]="loadingCurrentEvent"></ngx-loading>
      </mat-expansion-panel>
      <ngx-loading [show]="loadingCurrentEventAndList"></ngx-loading>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-waveform-2
      *ngIf="true"
      [event]="currentEventChart"
    ></app-waveform-2>
  </mat-sidenav-content>
</mat-sidenav-container>
