:host {
  width: 100%;
  height: 100%;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav.mat-drawer-side {
  width: 350px;
  height: 100%;
  border-right: 0;
}

mat-accordion {
  height: 100%;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

mat-expansion-panel-header {
  border-radius: 0;

  &.main-header {
    padding-right: 5px;

    mat-panel-title {
      margin-right: 0;
    }

    &,
    &.mat-expanded:focus,
    &.mat-expanded:hover,
    &:hover {
      background: #f1f1f1;
    }
  }
}

mat-expansion-panel.event-list {
  position: relative;
  height: 50%;

  &.mat-expansion-panel-spacing {
    margin: 0;
  }

  & > ::ng-deep .mat-expansion-panel-content {
    height: calc(100% - 50px);
    overflow: auto;

    & > .mat-expansion-panel-body {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

mat-expansion-panel.event-detail {
  position: relative;

  &.mat-expansion-panel-spacing {
    margin: 0;
  }

  & > ::ng-deep .mat-expansion-panel-content {
    height: calc(100% - 50px);
    overflow: auto;
  }
}

.sidebar-container {
  height: 100%;
}

.filter-button .mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -8px;
}

mat-sidenav-content.mat-drawer-content {
  overflow: visible;
  z-index: 2;
}

.collapse-button {
  z-index: 10;
  position: absolute;
  // top: 100px;
  top: 8px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8px;
  height: 25px;
  opacity: 0.5;
  transition: 0.25s opacity;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &.outside {
    margin-left: 5px;
  }

  .mat-mini-fab {
    width: 25px;
    height: 25px;
    line-height: 25px;

    ::ng-deep .mat-button-wrapper {
      padding: 0;
    }
  }
}

a[mat-menu-item] {
  &:hover,
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}
