<h1 mat-dialog-title>Event update</h1>
<div mat-dialog-content>
  <app-event-info
    [event]="editedEvent"
    (eventChange)="onEventChange($event)"
    [editEnabled]="true"
    [evaluationStatuses]="evaluationStatuses"
    [eventTypes]="eventTypes"
    [eventEvaluationModes]="eventEvaluationModes"
    [showEventResourceId]="true"
    [showPreferredOriginId]="false"
    [showTimeResidual]="false"
    [showUncertainty]="false"
  ></app-event-info>
</div>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    mat-dialog-close
  >Cancel</button>
  <button
    [disabled]="loading || !editedValues"
    color="primary"
    mat-raised-button
    (click)="onSaveClick(editedValues)"
  >Save</button>
</mat-dialog-actions>
<ngx-loading [show]="loading"></ngx-loading>
