<h1 mat-dialog-title>Event update</h1>
<div mat-dialog-content>
  <app-event-info
    [event]="editedEvent"
    (eventChange)="onEventChange($event)"
    [evaluationStatuses]="evaluationStatuses"
    [eventTypes]="eventTypes"
    [eventEvaluationModes]="eventEvaluationModes"
    [mode]="mode"
    (acceptClicked)="onAcceptClick($event)"
    (rejectClicked)="onRejectClick($event)"
  ></app-event-info>
</div>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    mat-dialog-close
  >Cancel</button>
</mat-dialog-actions>
<ngx-spinner name="loadingEventUpdate">
