<div class="position-relative overflow-auto">
  <h3
    class="text-center pt-5 pb-5"
    *ngIf="!dataSource || dataSource?.length === 0"
  >
    <ng-container *ngIf="!dataSource">
      Loading...
    </ng-container>
    <ng-container *ngIf="dataSource?.length === 0">
      No stations
    </ng-container>
  </h3>
  <table
    *ngIf="dataSource?.length > 0"
    mat-table
    matSort
    matSortActive="code"
    matSortDirection="asc"
    matSortDisableClear="true"
    (matSortChange)="onSort($event)"
    [dataSource]="dataSource"
    class=" w-100"
  >
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        *matHeaderCellDef
      > ID </th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th
        mat-sort-header="name"
        mat-header-cell
        *matHeaderCellDef
      ><span> Name </span></th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        {{element?.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="network">
      <th
        mat-header-cell
        *matHeaderCellDef
      ><span class="pl-3"> Network </span></th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        <a
          matTooltip="Show network detail"
          [matTooltipDisabled]="!element?.network"
          color="primary"
          href="#"
          [disabled]="true"
          mat-button
        >{{element?.network ? element?.network?.name : 'none'}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th
        mat-sort-header="code"
        mat-header-cell
        *matHeaderCellDef
      ><span class="pl-3"> Code</span></th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        <a
          mat-button
          matTooltip="Show station detail"
          color="primary"
          [routerLink]="['/inventory/stations', element.id]"
        >
          {{element?.code}}
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="sensors">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Sensors</th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        {{element?.sensors_count}}
      </td>
    </ng-container>

    <ng-container matColumnDef="communication">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Communication</th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element?.communication}}
      </td>
    </ng-container>

    <ng-container matColumnDef="power">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Power</th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element?.power}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th
        mat-header-cell
        *matHeaderCellDef
      >
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="$event.preventDefault();$event.stopPropagation();"
      >
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Station menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            color="primary"
            [routerLink]="['/inventory/stations', element.id]"
          >
            <mat-icon>visibility</mat-icon>
            <span>Detail</span>
          </button>

          <button
            mat-menu-item
            color="primary"
            [routerLink]="['/inventory/stations', element.id, 'maintenance']"
          >
            <mat-icon>build</mat-icon>
            <span>Maintenace</span>
          </button>

          <button
            mat-menu-item
            color="primary"
            [routerLink]="['/inventory/stations', element.id, 'sensors']"
          >
            <mat-icon>settings_input_antenna</mat-icon>
            <span>Sensors</span>
          </button>

          <button
            mat-menu-item
            (click)="onDelete(element.id)"
          >
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>

        </mat-menu>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr
      (click)="rowClicked(row)"
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
  <mat-paginator
    *ngIf="dataSource?.length > 0"
    [pageSizeOptions]="[15]"
    [pageSize]="pageSize"
    [length]="count"
    [pageIndex]="page"
    (page)="onPageChange($event)"
  ></mat-paginator>
  <ngx-spinner name="loadingTable"></ngx-spinner>
</div>
