<form
  class="px-4"
  [formGroup]="myForm"
  (ngSubmit)="onSubmit()"
>
  <div class="row">
    <div class="col-12 px-3 ">
      <div class="row pb-1">
        <div class="col-sm-12">
          <div class="row">

            <div class="col-sm-3 pr-sm-4">
              <div class="row">
                <div class="col">
                  <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input
                      [required]="true"
                      matInput
                      formControlName="name"
                    >
                    <mat-error *ngIf="myForm['name']?.invalid">This field is required</mat-error>
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field>
                    <mat-label>Length</mat-label>
                    <input
                      type="number"
                      matInput
                      formControlName="length"
                    >
                  </mat-form-field>
                </div>

              </div>
            </div>

            <div class="col-sm-3 px-sm-4">
              <div class="row">
                <div class="col">
                  <mat-form-field>
                    <mat-label>Azimuth</mat-label>
                    <input
                      type="number"
                      matInput
                      formControlName="azimuth"
                    >
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field>
                    <mat-label>Dip</mat-label>
                    <input
                      type="number"
                      matInput
                      formControlName="dip"
                    >
                  </mat-form-field>
                </div>

                <div class="col">
                  <mat-form-field>
                    <mat-label>Toe</mat-label>
                    <input
                      matInput
                      formControlName="toe"
                    >
                  </mat-form-field>
                </div>

              </div>
            </div>

            <div class="col-sm-3 px-sm-4">
              <div class="row">
                <div class="col">
                  <mat-form-field>
                    <mat-label>Trace</mat-label>
                    <input
                      matInput
                      formControlName="trace"
                    >
                  </mat-form-field>
                </div>

              </div>
            </div>

            <div class="col-sm-3 pl-sm-4">
              <div class="row">
                <div class="col">

                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12 py-1">
          <div class="d-flex">
            <div class="mr-auto"></div>
            <ng-container *ngIf="mode === PageMode.EDIT">
              <button
                type="submit"
                [color]="'primary'"
                mat-raised-button
              >Save</button>
            </ng-container>

            <ng-container *ngIf="mode === PageMode.CREATE">

              <button
                [routerLink]="['/inventory/boreholes']"
                class="mr-3"
                mat-raised-button
              >Cancel</button>
              <button
                type="submit"
                [color]="'primary'"
                mat-raised-button
              >Create</button>
            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </div>

  <ngx-spinner name="loadingForm"></ngx-spinner>
</form>
