<mat-toolbar color="primary">
  <app-header-layout></app-header-layout>
</mat-toolbar>
<div class="container-fluid px-4">

  <div class="row header">
    <div class="col m-4">
      <div class="row">
        <div class="col">
          <h1>Sensors</h1>
          <small>
            Home > Inventory > Sensors
          </small>
        </div>
        <div class="col d-flex">
          <div class="mr-auto"></div>
          <div class="d-flex flex-column">
            <div class="mb-auto"></div>
            <button
              [routerLink]="['/inventory/sensors', PageMode.CREATE]"
              mat-raised-button
              color="primary"
            >Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" mt-3 position-relative p-5 content">
    <table
      mat-table
      [dataSource]="dataSource"
      class=" w-100"
    >
      <ng-container
        matColumnDef="id"
        sticky
      >
        <th
          mat-header-cell
          *matHeaderCellDef
        > ID </th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="sensor">
        <th
          mat-header-cell
          *matHeaderCellDef
        ><span class="pl-3"> Sensor </span></th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          <a
            matTooltip="Show sensor detail"
            color="primary"
            [routerLink]="['/inventory/sensors', element?.id]"
            mat-button
          >{{element?.station?.code + '.' + element?.location_code}}</a>
        </td>
      </ng-container>


      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
        ><span class="pl-3"> Name </span></th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          <a
            matTooltip="Show sensor detail"
            color="primary"
            [routerLink]="['/inventory/sensors', element?.id]"
            mat-button
          >{{element?.name}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="station">
        <th
          mat-header-cell
          *matHeaderCellDef
        ><span class="pl-3"> Station </span></th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          <a
            matTooltip="Show station detail"
            [matTooltipDisabled]="!element?.station"
            href="#"
            [disabled]="true"
            color="primary"
            mat-button
          >{{element?.station?.name}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="borehole">
        <th
          mat-header-cell
          *matHeaderCellDef
        ><span class="pl-3"> Borehole </span></th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          <a
            matTooltip="Show borehole detail"
            [matTooltipDisabled]="!element?.borehole"
            color="primary"
            href="#"
            [disabled]="true"
            mat-button
          >{{element?.borehole ? element?.borehole?.name : 'none'}}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th
          mat-header-cell
          *matHeaderCellDef
        > Code</th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element?.code}}
        </td>
      </ng-container>

      <ng-container matColumnDef="components">
        <th
          mat-header-cell
          *matHeaderCellDef
        > Components</th>
        <td
          mat-cell
          *matCellDef="let element"
        > {{element?.components?.length}}
        </td>
      </ng-container>

      <ng-container matColumnDef="enabled">
        <th
          mat-header-cell
          *matHeaderCellDef
        > Enabled</th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          <mat-icon
            class="mat-18"
            [color]="'primary'"
            *ngIf="element?.enabled"
          >check_circle_outline</mat-icon>
          <mat-icon
            class="mat-18"
            [color]="'warn'"
            *ngIf="!element?.enabled"
          >highlight_off</mat-icon>
        </td>
      </ng-container>

      <ng-container
        matColumnDef="actions"
        stickyEnd
      >
        <th
          mat-header-cell
          *matHeaderCellDef
        >
        </th>
        <td
          mat-cell
          *matCellDef="let element"
        >
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Sensor menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button
              *ngIf=""
              mat-menu-item
              color="primary"
              [routerLink]="['/inventory/sensors', element.id]"
            >
              <mat-icon>visibility</mat-icon>
              <span>Detail</span>
            </button>
            <button
              mat-menu-item
              color="primary"
              [routerLink]="['/inventory/sensors', element.id]"
            >
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[15]"
      [pageSize]="pageSize"
      [length]="count"
      (page)="pageChange($event)"
    ></mat-paginator>
    <ngx-spinner name="loadingTable"></ngx-spinner>
  </div>
</div>
