<h1 mat-dialog-title>Event Interactive processing</h1>
<div mat-dialog-content>
  <table class="table table-extra-condensed mb-0">
    <tbody>
      <tr>
        <th>Event Id</th>
        <td>
          <div class="row">
            <div class="col-10 pr-4 text-right">
              {{oldEvent?.event_resource_id}}
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <h4
    *ngIf="!newEvent"
    class="text-center m-5"
  >Processing failed</h4>
  <table
    *ngIf="newEvent"
    class="table table-extra-condensed mt-3 table-compare"
  >
    <tbody>
      <tr>
        <th></th>
        <th
          scope="col"
          class="text-right"
        >
          <div class="row">
            <div class="col-2 p-0 "></div>
            <div class="col-6 p-0 ">
              Old
            </div>
          </div>
        </th>
        <th
          scope="col"
          class="text-right"
        >
          <div class="row">
            <div class="col-6 p-0 ">
              New
            </div>
          </div>
        </th>
      </tr>
      <tr scope="row">
        <th>
          Location (m)
        </th>
        <td *ngIf="newEvent?.x">
          <div class="d-flex w-100 flex-column">
            <div class="row">
              <div class=" col-2 p-0 text-right">X</div>
              <div class="col-6 p-0 text-right">{{oldEvent?.x | number:'.0-0'}}</div>
              <div class="col-4"></div>
            </div>
            <div class="row">
              <div class=" col-2 p-0 text-right">Y</div>
              <div class="col-6 p-0 text-right">{{oldEvent?.y | number:'.0-0'}}</div>
              <div class="col-4"></div>
            </div>
            <div class="row">
              <div class=" col-2 p-0 text-right">Z</div>
              <div class="col-6 p-0 text-right">{{oldEvent?.z | number:'.0-0'}}</div>
              <div class="col-4"></div>
            </div>
          </div>
        </td>

        <td *ngIf="oldEvent?.x">
          <div class="d-flex w-100 flex-column">
            <div class="row">
              <div class="col-6 p-0 text-right">{{newEvent?.x | number:'.0-0'}}</div>
              <div class="col-6">
                <div
                  class="px-3 text-right font-weight-bold"
                  [innerHTML]="(newEvent?.x - oldEvent?.x) | number:'.0-0' | diffNumber"
                >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 p-0 text-right">{{newEvent?.y | number:'.0-0'}}</div>
              <div class="col-6">
                <div
                  class="px-3 text-right font-weight-bold"
                  [innerHTML]="(newEvent?.y - oldEvent?.y) | number:'.0-0' | diffNumber"
                >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6 p-0 text-right">{{newEvent?.z | number:'.0-0'}}</div>
              <div class="col-6">
                <div
                  class="px-3 text-right font-weight-bold"
                  [innerHTML]="(newEvent?.z - oldEvent?.z) | number:'.0-0' | diffNumber"
                ></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr scope="row">
        <th>Time Residual (ms)</th>
        <td>
          <div class="row">
            <div class=" col-2 p-0"></div>
            <div class="col-6 p-0 text-right">
              {{oldEvent?.time_residual ? ((oldEvent?.time_residual * 1000) | number:'1.0-0') : '-'}}
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col-6 p-0 text-right">
              {{newEvent?.time_residual ? ((newEvent?.time_residual * 1000) | number:'1.0-0') : '-'}}
            </div>
            <div class="col-6"></div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Location Uncertainty (m)</th>
        <td>
          <div class="row">
            <div class=" col-2 p-0"></div>
            <div class="col-6 p-0 text-right">
              {{oldEvent?.uncertainty ? (oldEvent?.uncertainty | number:'1.0-0') : '-'}}
            </div>
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col-6 p-0 text-right">
              {{newEvent?.uncertainty ? (newEvent?.uncertainty | number:'1.0-0') : '-'}}
            </div>
            <div class="col-6"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<mat-dialog-actions align="end">
  <ng-container *ngIf="newEvent">
    <button
      color="warn"
      class="mr-3"
      mat-raised-button
      mat-dialog-close
      (click)="onRejectClick()"
    >Reject</button>
    <button
      color="primary"
      mat-flat-button
      mat-dialog-close
      (click)="onAcceptClick()"
    >Accept</button>
  </ng-container>
  <ng-container *ngIf="!newEvent">
    <button
      mat-raised-button
      mat-dialog-close
    >Close</button>
  </ng-container>

</mat-dialog-actions>
<ngx-spinner name="loadingEventInteractiveProcess">
