<div class="container-fluid content p-0">
  <ngx-spinner name="loadingWaveform"></ngx-spinner>
  <div
    id="waveform-panel"
    #waveformContainer
    [style.opacity]="waveformShow ? '1.0' : '0.0'"
  >
    <div
      class="text-color"
      id="zeroTime"
      *ngIf="false  && eventTimeOriginHeader"
    >{{eventTimeOriginHeader}}</div>
  </div>
</div>
<ul
  class="menu"
  #contextMenuChart
  [hidden]="!contextMenuChartVisible"
>
  <li [hidden]="!isContextPickingMenuVisible" (click)="contextMenuClick(ContextMenuChartAction.DELETE_P)">Delete P Pick</li>
  <li [hidden]="!isContextPickingMenuVisible" (click)="contextMenuClick(ContextMenuChartAction.DELETE_S)">Delete S Pick</li>
  <li [hidden]="!isContextPickingMenuVisible" (click)="contextMenuClick(ContextMenuChartAction.NEW_P)">New P Pick</li>
  <li [hidden]="!isContextPickingMenuVisible" (click)="contextMenuClick(ContextMenuChartAction.NEW_S)">New S Pick</li>
  <li (click)="contextMenuClick(ContextMenuChartAction.SHOW_CROSSHAIR)">Toggle CrossHair</li>
</ul>
