<div class="container-fluid content p-0">
  <mat-progress-bar
    *ngIf="progressValue !== 100"
    mode="determinate"
    value="{{progressValue}}"
  ></mat-progress-bar>
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>
  <div
    *ngFor="let item of allSensors | paginate: { itemsPerPage: page_size, currentPage: page_number, totalItems: loaded_pages*page_size }"
  ></div>
  <mat-toolbar
    color="primary"
    id="toolbar"
  >
    <!-- style="position:fixed; display:-webkit-box;" -->
    <button
      mat-icon-button
      id="commonTime"
      matTooltip="Common Time Scale for All Channels"
      class=" active"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <button
      mat-icon-button
      id="commonAmplitude"
      matTooltip="Common Amplitude Scale for All Channels"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <button
      mat-icon-button
      id="zoomAll"
      matTooltip="Zoom or Pan All Channels"
    >
      <mat-icon>link</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Undo last Time Zoom or Pan"
      class=""
      (click)="back()"
    >
      <mat-icon>undo</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Reset View after Zoom or Pan"
      class=""
      (click)="resetAllChartsViewXY()"
    >
      <mat-icon>settings_backup_restore</mat-icon>
    </button>
    <button
      mat-icon-button
      id="display3C"
      matTooltip="Display Composite or 3-Component Traces"
      class=""
    >
      <mat-icon>filter_3</mat-icon>
    </button>
    <button
      mat-icon-button
      id="sortTraces"
      matTooltip="Sort Traces by Distance to Origin"
    >
      <mat-icon>sort</mat-icon>
    </button>
    <button
      mat-icon-button
      id="togglePredictedPicks"
      matTooltip="Toggle Predicted Picks"
      class=" active"
    >
      <mat-icon>blur_linear</mat-icon>
    </button>
    <button
      mat-icon-button
      id="togglePredictedPicksBias"
      matTooltip="Toggle Remove Predicted Picks Bias"
    >
      <mat-icon>compare_arrows</mat-icon>
    </button>
    <button
      [disabled]="helpDialogOpened"
      mat-icon-button
      id='helpBtn'
      matTooltip='Show Help'
      (click)="openHelpDialog()"
    >
      <mat-icon>help</mat-icon>
    </button>

    <div class="float-left filters">
      <mat-form-field class="input-form-width float-left">
        <mat-label>Low Corner</mat-label>
        <input
          matInput
          matTooltip="Butterworth Filter Low Corner Frequency"
          type="number"
          step="10"
          min="0"
          (change)="bFilterChanged = true"
          (keydown.numbers)="bFilterChanged = true"
          (keydown.enter)="bFilterChanged = true; applyFilter()"
          [(ngModel)]="lowFreqCorner"
          [formControl]="minRateControl"
        >
        <div
          *ngIf="minRateControl.invalid && (minRateControl.dirty || minRateControl.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="!!minRateControl.errors.min">
            Min 0
          </div>
        </div>
      </mat-form-field>
      <mat-form-field class="input-form-width float-left">
        <mat-label>High Corner</mat-label>
        <input
          matInput
          matTooltip="Butterworth Filter High Corner Frequency"
          type="number"
          step="100"
          [max]="maxFreq"
          (change)="bFilterChanged = true"
          (keydown.numbers)="bFilterChanged = true"
          (keydown.enter)="bFilterChanged = true; applyFilter()"
          [(ngModel)]="highFreqCorner"
          [formControl]="rateControl"
        >
        <div
          *ngIf="rateControl.invalid && (rateControl.dirty || rateControl.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="!!rateControl.errors.max">
            Max {{maxFreq}}
          </div>
        </div>
      </mat-form-field>
      <mat-form-field class="input-form-width-less float-left">
        <mat-label>Poles</mat-label>
        <input
          matInput
          matTooltip="Number of Poles for Butterworth Filter"
          type="number"
          (change)="bFilterChanged = true"
          (keydown.numbers)="bFilterChanged = true"
          (keydown.enter)="bFilterChanged = true; applyFilter()"
          [(ngModel)]="numPoles"
          [ngModelOptions]="{standalone: true}"
        >
      </mat-form-field>
    </div>
    <button
      mat-icon-button
      id="applyFilter"
      matTooltip="Apply Filter"
      class=""
      (click)="applyFilter()"
    >
      <mat-icon>redo</mat-icon>
    </button>
    <mat-button-toggle-group
      name="pickingMode"
      aria-label="Picking Mode"
      matTooltip="Select Picking Mode P, S or None"
      #group="matButtonToggleGroup"
      [value]="pickingMode"
      (change)="onPickingModeChange(group.value)"
    >
      <mat-button-toggle value="P">
        <mat-icon>local_parking</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="S">
        <mat-icon>strikethrough_s</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="none">
        <mat-icon>trip_origin</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <button
      mat-icon-button
      matTooltip="Undo Last Picking Operation"
      class=""
      (click)="undoLastPicking()"
    >
      <mat-icon>cached</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Interactive Process"
      class=""
      (click)="onInteractiveProcess()"
    >
      <mat-icon>launch</mat-icon>
    </button>
    <pagination-controls
      class="pagination"
      [maxSize]="5"
      [previousLabel]="''"
      [nextLabel]="''"
      (pageChange)="page_number = $event; changePage(false)"
    ></pagination-controls>
  </mat-toolbar>
  <div id="waveform-panel">
    <div
      class="text-color"
      id="zeroTime"
      *ngIf="false  && eventTimeOriginHeader"
    >{{eventTimeOriginHeader}}</div>
  </div>
</div>
<ul class="menu">
  <li data-action="deleteP">Delete P Pick</li>
  <li data-action="deleteS">Delete S Pick</li>
  <li data-action="newP">New P Pick</li>
  <li data-action="newS">New S Pick</li>
  <li data-action="showTooltip">Toggle Tooltip</li>
</ul>
