<div class="container-fluid content p-0">
  <ngx-spinner name="loadingWaveform"></ngx-spinner>
  <div
    *ngIf="(waveformService?.overallDataLoadStatus | async) === DataLoadStatus.ERROR"
    class="error-block"
  >
    <div>
      <h3>Error in app initialization</h3>
      <p>To show the event charts, you must resolve the following problems:</p>
      <ul>
        <li *ngIf="(waveformService?.allSensorsOrigLoadStatus | async) === DataLoadStatus.ERROR">
          sensors failed to load
        </li>
        <li *ngIf="(waveformService?.allStationsLoadStatus | async) === DataLoadStatus.ERROR">
          stations failed to load
        </li>
      </ul>
      <button
        (click)="waveformService?.openApplicationDataDialog()"
        mat-raised-button
        color="primary"
      >Application data</button>
    </div>
  </div>
  <div
    id="waveform-panel"
    class="charts"
    #waveformContainer
    [style.opacity]="waveformShow ? '1.0' : '0.0'"
  >
    <div
      *ngFor="let chartId of [0,1,2,3,4,5,6]"
      [id]="'containerWrap'+chartId"
      class="chart-container-wrap"
    >
      <div
        [id]="'container'+chartId"
        class="chart-container"
      ></div>

      <ng-container *ngIf="activeSensorsMeta[chartId] != null">
        <div class="trace-title">{{activeSensorsMeta[chartId]?.title}}</div>
        <div class="trace-subtitle">{{activeSensorsMeta[chartId]?.subtitle}}</div>
        <div
          class="trace-labels"
          *ngIf="!(this.waveformService.labellingModeIsActive | async)"
        >
          <mat-chip-list aria-label=" selection">
            <ng-container *ngIf="activeSensors[chartId + 1]; else elseTemplate">
              <mat-chip
                *ngFor="let label of eventTraceLabelsMap[allWaveformSensors[((currentPage - 1) * pageSize - (currentPage - 1)) + chartId]?.code]; let idx = index"
              >
                {{label.name}}
              </mat-chip>
            </ng-container>
            <ng-template #elseTemplate>
              <mat-chip *ngFor="let label of eventTraceLabelsMap['context'];">
                {{label.name}}
              </mat-chip>
            </ng-template>

          </mat-chip-list>
        </div>
      </ng-container>
    </div>
    <div
      class="text-color"
      id="zeroTime"
      *ngIf="false  && eventTimeOriginHeader"
    >{{eventTimeOriginHeader}}</div>
  </div>
</div>
<ul
  class="menu"
  #contextMenuChart
  [hidden]="!contextMenuChartVisible"
>
  <li
    [hidden]="!isContextPickingMenuVisible"
    (click)="contextMenuClick(ContextMenuChartAction.DELETE_P)"
  >Delete P Pick</li>
  <li
    [hidden]="!isContextPickingMenuVisible"
    (click)="contextMenuClick(ContextMenuChartAction.DELETE_S)"
  >Delete S Pick</li>
  <li
    [hidden]="!isContextPickingMenuVisible"
    (click)="contextMenuClick(ContextMenuChartAction.NEW_P)"
  >New P Pick</li>
  <li
    [hidden]="!isContextPickingMenuVisible"
    (click)="contextMenuClick(ContextMenuChartAction.NEW_S)"
  >New S Pick</li>
  <li (click)="contextMenuClick(ContextMenuChartAction.SHOW_CROSSHAIR)">Toggle CrossHair</li>
</ul>
