.background-highlight {
  background-color: lightblue;
}

.txtColor:hover{
  color: orange;
  cursor: pointer;
}

.accepted-manual {
  color: green;
}

.accepted-automatic {
  color: blue;
}

.rejected-manual {
  color: red;
}

.rejected-automatic {
  color: purple;
}

.mat-tree-invisible {
  display: none;
}

.mat-tree ul,
.mat-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-tree ul {
  padding-left: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.mat-tree-node {
  min-height: 10px;
}

.status-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.status-radio-button {
  margin: 5px;
}

.input-form-width {
    width: 200px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
