<mat-toolbar color="primary">
  <app-layout-topbar></app-layout-topbar>
</mat-toolbar>

<div class="container-fluid">

  <app-layout-header>
    <ng-container headline>Maintenance</ng-container>
    <ng-container breadcrumbs>Home > Inventory > Maintenance</ng-container>
  </app-layout-header>

  <app-layout-content>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-sm-10 offset-sm-1 m-sm-auto mx-3 py-sm-5 py-3 my-sm-5">
        <app-maintenance-input
          [maintenanceCategories]="maintenanceCategories"
          [maintenanceStatuses]="maintenanceStatuses"
          [stations]="stations"
          (created)="onCreatedMaintenanceEvent($event)"
          class="m-auto"
        ></app-maintenance-input>
      </div>
    </div>
    <div class="row mt-lg-5">
      <div class="col">
        <app-maintenance-table-2
          [dataSource]="dataSource"
          (rowClick)="onRowClicked($event)"
          [count]="count"
          [stations]="stations"
          [maintenanceCategories]="maintenanceCategories"
          [maintenanceStatuses]="maintenanceStatuses"
          (previousPage)="changePage(cursorPrevious)"
          (nextPage)="changePage(cursorNext)"
          (delete)="delete($event)"
        >
        </app-maintenance-table-2>
      </div>
    </div>
  </app-layout-content>

</div>
