<mat-toolbar color="primary">
  <app-header-layout></app-header-layout>
</mat-toolbar>
<div class="container-fluid px-4">

  <div class="row header">
    <div class="col m-4">
      <div class="row">
        <div class="col">
          <h1>Maintenance</h1>
          <small>
            Inventory > Maintenance
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="position-relative mt-3 p-5 content">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10  mt-3 mb-5">
        <app-maintenance-input
          [maintenanceCategories]="maintenanceCategories"
          [maintenanceStatuses]="maintenanceStatuses"
          [stations]="stations"
          (created)="onCreatedMaintenanceEvent($event)"
          class="m-auto"
        ></app-maintenance-input>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-maintenance-table
          [dataSource]="dataSource"
          [count]="count"
          [stations]="stations"
          [maintenanceCategories]="maintenanceCategories"
          [maintenanceStatuses]="maintenanceStatuses"
          (previousPage)="changePage(cursorPrevious)"
          (delete)="delete($event)"
          (nextPage)="changePage(cursorNext)"
        >
        </app-maintenance-table>
      </div>
    </div>
  </div>
</div>
