<form
  (ngSubmit)="submitAuthForm()"
  [formGroup]="myForm"
>
  <div mat-dialog-title>
    <div class="row">
      <div class="col-12">
        <h1>{{mode === DialogMode.LOGIN ? 'Login' : 'Registration'}}</h1>
      </div>
    </div>
  </div>

  <mat-dialog-content class="pt-1">
    <div
      class="row"
      *ngIf="mode === DialogMode.REGISTRATION"
    >
      <div class="col-12 col-sm-6">
        <mat-form-field
          class="w-100"
          appearance="standard"
        >
          <mat-label>First name</mat-label>
          <input
            matInput
            name="firstname"
            formControlName="first_name"
            autocomplete="off"
          >
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-6">
        <mat-form-field
          class="w-100"
          appearance="standard"
        >
          <mat-label>Last name</mat-label>
          <input
            matInput
            name="lastname"
            formControlName="last_name"
            autocomplete="off"
          >
        </mat-form-field>
      </div>
      <!-- TODO: place for additional field in registration -->
    </div>

    <div class="row">
      <div class="col-12 col-sm-6">
        <mat-form-field
          class="w-100"
          appearance="standard"
        >
          <mat-label>Username</mat-label>
          <input
            matInput
            name="username"
            [required]="true"
            formControlName="username"
            autocomplete="off"
          >
          <mat-error *ngIf="!!username?.errors?.required">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-sm-6">
        <mat-form-field
          class="w-100"
          appearance="standard"
        >
          <mat-label>Password</mat-label>
          <input
            matInput
            name="password"
            type="password"
            [required]="true"
            [minlength]="3"
            [maxlength]="50"
            formControlName="password"
            autocomplete="off"
          >
          <mat-error *ngIf="!!password?.errors?.required">
            Password is <strong>required</strong>
          </mat-error>
          <!-- TODO: SET PROPER LIMITATIONS !!! -->
          <mat-error *ngIf="!password?.errors?.required && !!password?.errors?.minlength">
            Password must have at least <strong>3 characters</strong>
          </mat-error>
          <mat-error *ngIf="!password?.errors?.required && !!password?.errors?.maxlength">
            Password can have maximum <strong>50 characters</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div
      class="row"
      *ngIf="mode === DialogMode.REGISTRATION"
    >
      <div class="col-12 offset-sm-6 col-sm-6">
        <mat-form-field
          class="w-100"
          appearance="standard"
        >
          <mat-label>Repeat password</mat-label>
          <input
            matInput
            name="password"
            type="password"
            [required]="true"
            [minlength]="3"
            [maxlength]="50"
            formControlName="password_repeat"
            autocomplete="off"
          >
          <mat-error *ngIf="!!password?.errors?.required">
            Password is <strong>required</strong>
          </mat-error>
          <!-- TODO: SET PROPER LIMITATIONS !!! -->
          <mat-error *ngIf="!password?.errors?.notEqual">
            Passwords must be equal
          </mat-error>
        </mat-form-field>
      </div>

    </div>

    <div class="row mt-5">
      <div class="col-8">
      </div>
      <div class="col-4">
        <div class="d-flex">
          <button
            class="ml-auto"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="loading"
          >
            {{mode === DialogMode.LOGIN ? 'Login' : 'Register'}}
          </button>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-12">
        <p
          class="text-center mb-0"
          *ngIf="mode === DialogMode.LOGIN"
        >
          <small>
            Don't have a account yet?<br>
            <a
              mat-button
              color="accent"
              (click)="mode = DialogMode.REGISTRATION;"
            >Use registration</a>
          </small>
        </p>
        <p
          class="text-center mb-0"
          *ngIf="mode === DialogMode.REGISTRATION"
        >
          <small>
            Already have an account?<br>
            <a
              mat-button
              color="accent"
              (click)="mode = DialogMode.LOGIN;"
            >Use login</a>
          </small>
        </p>
      </div>
    </div>
  </mat-dialog-content>
</form>
