<div class="overflow-auto">
  <h3
    class="text-center pt-5 pb-5"
    *ngIf="!dataSource || dataSource?.length === 0"
  >
    <ng-container *ngIf="!dataSource">
      Loading...
    </ng-container>
    <ng-container *ngIf="dataSource?.length === 0">
      No cable types
    </ng-container>
  </h3>
  <table
    mat-table
    *ngIf="dataSource"
    [dataSource]="dataSource"
    class=" w-100"
  >
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        *matHeaderCellDef
      > ID </th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th
        mat-header-cell
        *matHeaderCellDef
      ><span class=""> Code </span></th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        <button
          *ngIf=""
          mat-button
          matTooltip="Show cable type detail"
          color="primary"
        >
          {{element?.code}}
        </button>
        {{element?.code}}
      </td>
    </ng-container>

    <ng-container matColumnDef="manufacturer">
      <th
        mat-header-cell
        *matHeaderCellDef
      ><span class=""> Manufacturer </span></th>
      <td
        mat-cell
        *matCellDef="let element"
      >{{element?.manufacturer}}
      </td>
    </ng-container>

    <ng-container matColumnDef="part_number">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Part no.</th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element?.part_number}}
      </td>
    </ng-container>

    <ng-container matColumnDef="r">
      <th
        mat-header-cell
        *matHeaderCellDef
      > r</th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element?.r}}
      </td>
    </ng-container>

    <ng-container matColumnDef="l">
      <th
        mat-header-cell
        *matHeaderCellDef
      > l</th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element?.l}}
      </td>
    </ng-container>

    <ng-container matColumnDef="g">
      <th
        mat-header-cell
        *matHeaderCellDef
      > g</th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element?.g}}
      </td>
    </ng-container>

    <ng-container matColumnDef="c">
      <th
        mat-header-cell
        *matHeaderCellDef
      > c </th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element?.c}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th
        mat-header-cell
        *matHeaderCellDef
      >
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="$event.preventDefault();$event.stopPropagation();"
      >
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Cable type menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            color="primary"
            (click)="editButtonClick(element.id)"
          >
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>

          <button
            (click)="onDelete(element.id)"
            mat-menu-item
            color="primary"
          >
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>

      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr
      mat-row
      (click)="rowClicked(row)"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
</div>
