<mat-toolbar color="primary">
  <app-header-layout></app-header-layout>
</mat-toolbar>
<form class="container-fluid px-4">
  <div class="row ">
    <div class="col-12">
      <div class="header mb-3">
        <div class="row">
          <div class="col-12 px-5 py-4">
            <h1>Sensor {{sensorId}}</h1>
            <small>
              Home > Inventory >
              <a [routerLink]="['/inventory/sensors']">Sensors</a> >
              {{sensorId ? 'Sensor' + sensorId + ' Detail' : 'Creating new sensor'}}
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col ">
      <div class=" content">

        <mat-tab-group class="w-100  px-5 py-4">
          <mat-tab label="Details">
            <ng-template matTabContent>
              <app-inventory-sensor-detail
                [sensorId]="sensorId"
                (sensorChange)="sensor = $event"
                [mode]="pageMode"
              ></app-inventory-sensor-detail>
            </ng-template>
          </mat-tab>

          <mat-tab label="Components">
            <ng-template matTabContent>
              <app-inventory-component-list
                [data]="sensor?.components"
                [showPagination]="false"
              >
              </app-inventory-component-list>
            </ng-template>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>
</form>
