<div class="position-relative overflow-auto">
  <h3
    class="text-center pt-5 pb-5"
    *ngIf="!dataSource || dataSource?.length === 0"
  >
    <ng-container *ngIf="!dataSource">
      Loading...
    </ng-container>
    <ng-container *ngIf="dataSource?.length === 0">
      No maintenance events
    </ng-container>
  </h3>
  <table
    mat-table
    *ngIf="dataSource?.length > 0"
    [dataSource]="dataSource"
    class=" w-100"
  >
    <ng-container matColumnDef="id">
      <th
        mat-header-cell
        *matHeaderCellDef
      > ID </th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="station">
      <th
        mat-header-cell
        *matHeaderCellDef
      >
        <span class="pl-3">Station</span>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        <button
          matTooltip="Open station detail"
          matTooltipPosition="right"
          color="primary"
          [routerLink]="['/inventory/stations', element?.station?.id]"
          mat-button
        >
          {{element?.station?.code}}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Date</th>
      <td
        mat-cell
        *matCellDef="let element"
      >{{element?.datetime | date:'MMM dd'}}
        <small>{{element?.datetime | date:'yyyy'}}</small>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Description</th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        <div class="description-wrap">
          {{element?.description}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Category</th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element?.category}}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th
        class=""
        mat-header-cell
        *matHeaderCellDef
      > Status</th>
      <td
        class=""
        mat-cell
        *matCellDef="let element"
      > {{element?.status}}
      </td>
    </ng-container>

    <ng-container matColumnDef="attachments">
      <th
        class="text-center"
        mat-header-cell
        *matHeaderCellDef
      > Attachments</th>
      <td
        class="text-center"
        mat-cell
        *matCellDef="let element"
      > {{element?.attachments?.length}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th
        mat-header-cell
        *matHeaderCellDef
      >
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="$event.preventDefault();$event.stopPropagation();"
      >
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Maintenance menu"
          matTooltip="More options"
          matTooltipPosition="left"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            color="primary"
            ngxClipboard
            [cbContent]="generateCopyUrl(element.id)"
          >
            <mat-icon>link</mat-icon>
            <span>Copy link</span>
          </button>

          <button
            (click)="onDelete(element.id)"
            mat-menu-item
            color="primary"
          >
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr
      mat-row
      (click)="rowClicked(row)"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
  <div
    class="mt-3 w-100"
    *ngIf="dataSource?.length > 0"
  >
    <mat-paginator
      [pageSizeOptions]="[15]"
      [pageSize]="pageSize"
      [length]="count"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </div>
</div>
