<h1 mat-dialog-title>CSV export</h1>
<mat-dialog-content>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="row">
        <div class="col-3">
          <h4>Time range</h4>
        </div>
        <div class="col-9">
          <mat-radio-group
            [(ngModel)]="editedQuery.time_range"
            (change)="onTimeRangeChange($event)"
            class="d-flex align-content-stretch"
          >
            <mat-radio-button
              color="primary"
              [value]="3"
              class="d-flex"
            >
              <strong>Last 3 days</strong><br />
              <small>{{ todayEnd | amSubtract: 2:"days" | amDateFormat: "MMM	D" }} -
                {{ todayEnd | amDateFormat: "MMM D" }}
              </small>
            </mat-radio-button>
            <div class="mr-auto"></div>

            <mat-radio-button
              color="warn"
              [value]="7"
              class="d-flex"
            >
              <strong>Last 7 days</strong><br />
              <small>{{ todayEnd | amSubtract: 6:"days" | amDateFormat: "MMM	D" }} -
                {{ todayEnd | amDateFormat: "MMM D" }}
              </small>
            </mat-radio-button>
            <div class="mr-auto"></div>

            <mat-radio-button
              color="warn"
              [value]="31"
              class="d-flex"
            >
              <strong>Last 31 days</strong><br />
              <small>{{ todayEnd | amSubtract: 30:"days" | amDateFormat: "MMM	D" }} -
                {{ todayEnd | amDateFormat: "MMM D" }}
              </small>
            </mat-radio-button>
            <div class="mr-auto"></div>

            <mat-radio-button
              color="warn"
              [value]="0"
              class="d-flex"
            >
              <strong>Custom</strong><br />
              <small></small>
            </mat-radio-button>
          </mat-radio-group>
          <div
            class="row mt-3"
            *ngIf="editedQuery.time_range === 0"
          >
            <div class="col-6">
              <app-event-date-field
                [label]="'Start date'"
                [date]="editedQuery.time_utc_after"
                [maxDate]="editedQuery.time_utc_before"
                (dateChange)="onCustomDateStartChange($event)"
              >
              </app-event-date-field>
            </div>
            <div class="col-6">
              <app-event-date-field
                [label]="'End date'"
                [date]="editedQuery.time_utc_before"
                [minDate]="editedQuery.time_utc_after"
                (dateChange)="onCustomDateEndChange($event)"
              >
              </app-event-date-field>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-3 pt-3">
          <h4>Event type</h4>
        </div>
        <div class="col-9">
          <app-event-type-field
            [label]="''"
            [type]="'chip'"
            [eventTypes]="eventTypes"
            [(selectedEventTypes)]="selectedEventTypes"
            (selectedEventTypesChange)="onEventTypesChange($event)"
          ></app-event-type-field>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-3 pt-3">
          <h4>Evaluation status</h4>
        </div>
        <div class="col-9">
          <app-event-status-field
            [label]="''"
            [type]="'chip'"
            [evaluationStatuses]="evaluationStatuses"
            [(selectedEvaluationStatuses)]="editedQuery.status"
            (selectedEvaluationStatusesChange)="onExportChange()"
          ></app-event-status-field>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-3 pt-3">
          <h4>Magnitude</h4>
        </div>
        <div class="col-9 pt-3">
          <div class="w-100 d-flex justify-content-between">

            <app-event-input-number-field
              [label]="'M (min)'"
              [(value)]="editedQuery.magnitude_min"
              class="flex-fill"
            ></app-event-input-number-field>

            <div class="min-max-separator p-3">
              -
            </div>

            <app-event-input-number-field
              [label]="'M (max)'"
              [(value)]="editedQuery.magnitude_max"
              class="flex-fill"
            ></app-event-input-number-field>

          </div>

        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-3 pt-3">
          <h4>Energy</h4>
        </div>
        <div class="col-9 pt-3">
          <div class="w-100 d-flex justify-content-between">

            <app-event-input-number-field
              [label]="'J (min)'"
              [(value)]="editedQuery.energy_joule_min"
              class="flex-fill"
            ></app-event-input-number-field>

            <div class="min-max-separator p-3">
              -
            </div>

            <app-event-input-number-field
              [label]="'J (max)'"
              [(value)]="editedQuery.energy_joule_max"
              class="flex-fill"
            ></app-event-input-number-field>

          </div>

        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-3 pt-3">
          <h4>Location</h4>
        </div>
        <div class="col-9 pt-3">
          <div class="w-100 d-flex justify-content-between">

            <app-event-input-number-field
              [label]="'X (min)'"
              [(value)]="editedQuery.x_min"
              class="flex-fill"
            ></app-event-input-number-field>

            <div class="min-max-separator p-3">
              -
            </div>

            <app-event-input-number-field
              [label]="'X (max)'"
              [(value)]="editedQuery.x_max"
              class="flex-fill"
            ></app-event-input-number-field>

          </div>

          <div class="w-100 d-flex justify-content-between">

            <app-event-input-number-field
              [label]="'Y (min)'"
              [(value)]="editedQuery.y_min"
              class="flex-fill"
            ></app-event-input-number-field>

            <div class="min-max-separator p-3">
              -
            </div>

            <app-event-input-number-field
              [label]="'Y (max)'"
              [(value)]="editedQuery.y_max"
              class="flex-fill"
            ></app-event-input-number-field>

          </div>

          <div class="w-100 d-flex justify-content-between">

            <app-event-input-number-field
              [label]="'Z (min)'"
              [(value)]="editedQuery.z_min"
              class="flex-fill"
            ></app-event-input-number-field>

            <div class="min-max-separator p-3">
              -
            </div>

            <app-event-input-number-field
              [label]="'Z (max)'"
              [(value)]="editedQuery.z_max"
              class="flex-fill"
            ></app-event-input-number-field>

          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    (click)="resetExport()"
  >Reset</button>
  <button
    mat-raised-button
    mat-dialog-close
  >Cancel</button>
  <button
    mat-raised-button
    [disabled]="loading"
    [color]="'primary'"
    (click)="onExportClick(editedQuery)"
  >
    Export
  </button>
</mat-dialog-actions>
<ngx-spinner name="loadingEventExport"> </ngx-spinner>
