<ng-container *ngIf="user">
  <mat-sidenav-container class="sidenav-container">

    <mat-sidenav
      #drawer
      [mode]="'side'"
      [opened]="true"
      class="sidenav"
    >
      <div class="sidebar">
        <mat-toolbar
          color="primary"
          class="mat-elevation-z6"
        >
          <div class="mr-auto"></div>

          <button
            mat-icon-button
            color="secondary"
          >
            <mat-icon
              aria-hidden="false"
              aria-label="Log out"
              (click)="logoutClick()"
            >exit_to_app</mat-icon>
          </button>
        </mat-toolbar>
        <app-sidebar></app-sidebar>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="wrapper">
        <div class="main-panel">
          <router-outlet></router-outlet>
          <app-footer-layout></app-footer-layout>
        </div>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</ng-container>
