<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    fixedInViewport="false"
    [mode]="'over'"
    [opened]="menuService.menuOpened | async"
    (openedChange)="onMenuOpenedChange($event)"
    class="sidenav"
  >
    <div class="sidebar">
      <mat-toolbar color="">
        <div class="w-100 d-flex justify-content-between">
          <div>
            <div class="logo">
              <div class="logo-img">
                <img
                  src="/assets/img/pulse.png"
                  width="32"
                  height="32"
                />
              </div>
            </div>
          </div>
          <div>
            <div class="logo">
              Microquake
            </div>
          </div>
          <div>

          </div>
        </div>
      </mat-toolbar>
      <mat-nav-list>
        <a
          (click)="closeMenu()"
          mat-list-item
          [routerLink]="['/events']"
        >
          <mat-icon mat-list-icon>view_comfy</mat-icon>
          <h4 matLine>Events</h4>
        </a>
        <h3 mat-subheader>Inventory</h3>
        <a
          *ngIf=""
          (click)="closeMenu()"
          mat-list-item
          [routerLink]="['/inventory/sites']"
        >
          <mat-icon mat-list-icon>line_style</mat-icon>
          <h4 matLine>Sites</h4>
        </a>
        <a
          (click)="closeMenu()"
          mat-list-item
          [routerLink]="['/maintenance']"
        >
          <mat-icon mat-list-icon>build</mat-icon>
          <h4 matLine>Maintenance</h4>
        </a>
        <a
          (click)="closeMenu()"
          mat-list-item
          [routerLink]="['/inventory/stations']"
        >
          <mat-icon mat-list-icon>satellite</mat-icon>
          <h4 matLine>Stations</h4>
        </a>
        <a
          (click)="closeMenu()"
          mat-list-item
          [routerLink]="['/inventory/boreholes']"
        >
          <mat-icon mat-list-icon>group_work</mat-icon>
          <h4 matLine>Boreholes</h4>
        </a>
        <a
          (click)="closeMenu()"
          mat-list-item
          [routerLink]="['/inventory/sensors']"
        >
          <mat-icon mat-list-icon>settings_input_antenna</mat-icon>
          <h4 matLine>Sensors</h4>
        </a>
        <a
          (click)="closeMenu()"
          mat-list-item
          [routerLink]="['/inventory/sensor-types']"
        >
          <mat-icon mat-list-icon>category</mat-icon>
          <h4 matLine>Sensor types</h4>
        </a>
        <a
          (click)="closeMenu()"
          mat-list-item
          [routerLink]="['/inventory/cable-types']"
        >
          <mat-icon mat-list-icon>line_weight</mat-icon>
          <h4 matLine>Cable types</h4>
        </a>
        <a
          (click)="closeMenu()"
          mat-list-item
          [routerLink]="['/inventory/microquake-event-types']"
        >
          <mat-icon mat-list-icon>bubble_chart</mat-icon>
          <h4 matLine>Microquake types</h4>
        </a>
        <a
          (click)="closeMenu()"
          mat-list-item
          [routerLink]="['/inventory/trace-labels']"
        >
          <mat-icon mat-list-icon>label</mat-icon>
          <h4 matLine>Trace labels</h4>
        </a>
        <h3 mat-subheader>Account</h3>
        <a
          mat-list-item
          (click)="openApplicaitonDataDialog()"
        >
          <mat-icon mat-list-icon>storage</mat-icon>
          <h4 matLine>Application data</h4>
        </a>
        <a
          mat-list-item
          (click)="logoutClick()"
        >
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <h4 matLine>Log out</h4>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="wrapper">
      <div class="main-panel">
        <router-outlet></router-outlet>
        <app-footer-layout *ngIf=""></app-footer-layout>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

<ngx-spinner name="loading"></ngx-spinner>
