:host {
  height: 100%;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.sidenav-container {
  height: 100%;
}

.main-panel {
  height: 100%;
  width: 100%;
}

.sidebar,
.sidenav {
  width: 200px;
}

.sidebar {
  box-shadow: none;
}
