<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    fixedInViewport="false"
    [mode]="'over'"
    [opened]="menuService.menuOpened | async"
    class="sidenav"
  >
    <div class="sidebar">
      <mat-toolbar color="">
        <div class="w-100 d-flex justify-content-between">
          <div>
            <div class="logo">
              <div class="logo-img">
                <img src="/assets/img/pulse.png" />
              </div>
            </div>
          </div>
          <div>
            <div class="logo">
              Microquake
            </div>
          </div>
          <div>

          </div>
        </div>
      </mat-toolbar>
      <mat-nav-list>
        <a
          mat-list-item
          [routerLink]="['/events']"
        >
          <mat-icon mat-list-icon>view_comfy</mat-icon>
          <h4 matLine>Events</h4>
        </a>
        <a
          mat-list-item
          (click)="logoutClick()"
        >
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <h4 matLine>Log out</h4>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="wrapper">
      <div class="main-panel">
        <router-outlet></router-outlet>
        <app-footer-layout *ngIf=""></app-footer-layout>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
