.background-highlight {
  background-color: lightblue;
}

.accepted-manual {
  color: green;
}

.accepted-automatic {
  color: blue;
}

.rejected-manual {
  color: red;
}

.rejected-automatic {
  color: purple;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-tree-node { min-height: 30px }