.background-highlight {
  background-color: lightblue;
}

.accepted-manual {
  color: green;
}

.accepted-automatic {
  color: blue;
}

.rejected-manual {
  color: red;
}

.rejected-automatic {
  color: purple;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-tree-node { min-height: 30px }

.status-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.status-radio-button {
  margin: 5px;
}

.input-form-width {
    width: 200px;
}