<h1 mat-dialog-title>Interaction</h1>
<div mat-dialog-content>
  <p>Zoom and Pan</p>
  <div><b>ALT + WHEEL</b> - Time Pan</div>
  <div><b>CTRL + WHEEL</b> - Amplitude Zoom</div>
  <div><b>SHIFT + WHEEL</b> - Time Zoom</div>
  <hr>
  <p>Mode</p>
  <div><b>z</b> - Toggle Common Time Mode</div>
  <div><b>x</b> - Toggle Common Amplitude Mode</div>
  <!--
  <div><b>Amplitude Zoom</b> - CTRL + WHEEL or CTRL + ARROWS UP/DOWN</div>
  <div><b>Time Zoom</b> - SHIFT + WHEEL or SHIFT + ARROWS UP/DOWN</div>
  <div><b>Amplitude Pan</b> - CTRL + ARROWS LEFT/RIGHT</div>
  <div><b>Time Pan</b> - ALT + WHEEL or SHIFT + ARROWS LEFT/RIGHT</div>
-->
  <hr>
  <p>Picks</p>
  <div><b>CTRL+LEFT on Pick / CONTEXT MENU</b> - Remove Picks</div>
  <div><b>CTRL+MIDDLE</b> - Add P Pick at current position</div>
  <div><b>SHIFT+MIDDLE</b> - Add S Pick at current position</div>
</div>