td.mat-column-actions {
  width: 30px;
  padding-right: 8px;
}

.content,
.header {
  background: #fff;
}

mat-chip {
  font-size: 10px;
  min-height: 22px;
}

.mat-success {
  background-color: green;
  color: #fff;
}

.filter {
  background: #fff;
  font-size: 15px;
}
