<div class="card sidebar-event">

  <div
    style="overflow: auto"
    id="eventInfoCard"
  >
    <div
      class='card-body'
      style="padding:0px 20px;"
    >
      <table class="table table-extra-condensed">
        <tbody>
          <tr>
            <th scope="row">Magnitude</th>
            <td>
              {{event.magnitude}}
            </td>
          </tr>
          <tr>
            <th scope="row">
              Location
            </th>
            <td>X {{event.x}} m East
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>Y {{event.y}} m North
            </td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td>Z {{event.z}} m
            </td>
          </tr>
          <tr>
            <th scope="row">Picks</th>
            <td>{{event.npick}}</td>
          </tr>
          <tr>
            <th scope="row">Type
            </th>
            <td>
              <mat-form-field class="selector">
                <mat-select [(ngModel)]="event.event_type">
                  <mat-select-trigger>
                    {{event.event_type}}
                  </mat-select-trigger>
                  <mat-option
                    *ngFor="let eventType of eventTypes"
                    [value]="eventType.quakeml_type"
                  >
                    <mat-icon>
                      {{eventType.identifier | eventTypeIcon}}
                    </mat-icon>
                    {{eventType.identifier}} - {{eventType.microquake_type}} ({{eventType.quakeml_type}})
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th scope="row">
              Status
            </th>
            <td>
              <mat-form-field class="selector">
                <mat-select [(ngModel)]="event.status">
                  <mat-option
                    *ngFor="let etype of evalTypes"
                    [value]="etype.status"
                  >
                    {{etype.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th scope="row">
              Mode
            </th>
            <td>
              <mat-form-field class="selector">
                <mat-select [(ngModel)]="event.evaluation_mode">
                  <mat-option
                    *ngFor="let emode of evalModes"
                    [value]="emode.evaluation_mode"
                  >
                    {{emode.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr *ngIf='event.time_residual'>
            <th scope="row">Time Residual</th>
            <td>{{event.time_residual}}</td>
          </tr>
          <tr *ngIf='event.uncertainty'>
            <th scope="row">Uncertainty</th>
            <td>{{event.uncertainty}}</td>
          </tr>
          <tr *ngIf='event.event_resource_id'>
            <th scope="row">event_resource_id</th>
            <td>{{event.event_resource_id}}</td>
          </tr>
          <tr *ngIf='event.preferred_origin_id'>
            <th scope="row">preferred_origin_id</th>
            <td>{{event.preferred_origin_id}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
