.table-extra-condensed {

  &>thead,
  &>tbody,
  &>tfoot {
    &>tr {

      &>th,
      &>td {
        line-height: 20px;
        padding: 8px 0;
        font-size: 13px;
      }
    }
  }

  &>tbody tr:first-child {

    &,
    &>th,
    &>td {
      border-top: 0;
    }
  }
}

table {
  &.update-dialog {
    th {
      width: 155px;
    }
  }

  &.event-detail {
    th {
      width: 135px;
    }
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 8px;
}

.full-line-height {
  line-height: 28px;
}

mat-chip {
  font-size: 10px;
  min-height: 22px;
}

.mat-success {
  background-color: green;
  color: #fff;
}
