<div [style.opacity]="!event ? 0 : 1">
  <table class="table table-extra-condensed mb-0">
    <tbody>
      <tr *ngIf="mode === 'updateDialog'">
        <th>Event Id</th>
        <td>{{event?.event_resource_id}}</td>
      </tr>
      <tr *ngIf="mode === 'updateDialog'">
        <th>Preferred Origin Id</th>
        <td>{{event?.preferred_origin_id}}</td>
      </tr>
      <tr>
        <th>Date and Time</th>
        <td>
          <div class="row">
            <div
              class="col-5 p-0"
              *ngIf="event?.time_utc"
            >
              {{event?.time_utc | date:' MMM dd': event?.timezone}} <small class="pl-1">
              {{event?.time_utc | date:'yyyy': event?.timezone}}</small>
            </div>
            <div
              class="col-7"
              *ngIf="event?.time_utc"
            >
              {{event?.time_utc | date:'HH:mm:ss':event?.timezone}}
              <small>{{event?.time_utc | date:'.SSS'}}</small>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Magnitude <span *ngIf="event?.magnitude_type">({{event?.magnitude_type}})</span></th>
        <td>
          <div class="row">
            <div class="col-1 p-0"></div>
            <div
              class="col-4 p-0 text-right full-line-height"
              *ngIf="event?.magnitude"
            >
              {{event?.magnitude | eventMagnitude}}
            </div>
            <div class="col-7">
              <mat-chip-list>
                <mat-chip
                  *ngIf="event?.status !== EvaluationStatus.REJECTED"
                  [selected]="true"
                  [selectable]="true"
                  color="primary"
                >
                  Accepted
                </mat-chip>
                <mat-chip
                  *ngIf="event?.status === EvaluationStatus.REJECTED"
                  [selected]="true"
                  [selectable]="true"
                  color="warn"
                >
                  Rejected
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>
          Location (m)
        </th>
        <td *ngIf="event?.x">
          <div class="d-flex w-100 flex-column">
            <div class="row">
              <div class=" col-1 p-0">X</div>
              <div class="col-4 p-0 text-right">{{event?.x | number:'.0-0'}}</div>
              <div class="col-3">East</div>
            </div>
            <div class="row">
              <div class=" col-1 p-0">Y</div>
              <div class="col-4 p-0 text-right">{{event?.y | number:'.0-0'}}</div>
              <div class="col-3">North</div>
            </div>
            <div class="row">
              <div class=" col-1 p-0">Z</div>
              <div class="col-4 p-0 text-right">{{event?.z | number:'.0-0'}}</div>
              <div class="col-3"></div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Picks</th>
        <td>
          <div class="row">
            <div class="col-1 p-0"></div>
            <div class="col-4 p-0 text-right">{{event?.npick | number:'.0-0'}}</div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Time Residual (ms)</th>
        <td>
          <div class="row">
            <div class=" col-1 p-0"></div>
            <div class="col-4 p-0 text-right">
              {{event?.time_residual ? ((event?.time_residual * 1000) | number:'1.0-0') : '-'}}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Uncertainty (m)</th>
        <td>
          <div class="row">
            <div class=" col-1 p-0"></div>
            <div class="col-4 p-0 text-right">
              {{event?.uncertainty ? (event?.uncertainty | number:'1.0-0') : '-'}}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Corner Freq. (Hz)</th>
        <td>
          <div class="row">
            <div class=" col-1 p-0"></div>
            <div class="col-4 p-0 text-right">
              {{event?.corner_frequency ? (event?.corner_frequency | number:'1.0-0') : '-'}}
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-container *ngIf="">
    <div class="row mt-3">
      <div class="col-6">
        <app-event-status-field
          [label]="'Status'"
          [multiple]="false"
          [evaluationStatuses]="evaluationStatuses"
          [selectedEvaluationStatus]="selectedEvenStatus"
          (selectedEvaluationStatusChange)="onEvaluationStatusChange($event)"
        >
        </app-event-status-field>
      </div>
      <div class="col-6">
        <app-event-mode-field
          [label]="'Mode'"
          [multiple]="false"
          [eventEvaluationModes]="eventEvaluationModes"
          [selectedEvaluationMode]="selectedEvaluationMode"
          (selectedEvaluationModeChange)="onEvaluationModeChange($event)"
        >
        </app-event-mode-field>
      </div>
    </div>
  </ng-container>
  <div class="row">
    <div class="col-8">
      <app-event-type-field
        [label]="'Event type'"
        [multiple]="false"
        [eventTypes]="eventTypes"
        [selectedEventType]="selectedEventType"
        (selectedEventTypeChange)="onEventTypeChange($event)"
      ></app-event-type-field>
    </div>
    <div class="col-4 px-1 mt-2">
      <button
        mat-mini-fab
        color="warn"
        class="mr-3"
        (click)="onRejectClicked(selectedEventType)"
        matTooltip="Reject Event"
      >
        <mat-icon class="mat-18">close</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="primary"
        (click)="onAcceptClicked(selectedEventType)"
        matTooltip="Confirm Event"
      >
        <mat-icon class="mat-18">check</mat-icon>
      </button>
    </div>
  </div>
</div>
<ngx-spinner name="loadingCurrentEvent"></ngx-spinner>
