<mat-toolbar color="primary">
  <app-layout-topbar></app-layout-topbar>
</mat-toolbar>

<div class="container-fluid">

  <app-layout-header>
    <ng-container headline>Sensors</ng-container>
    <ng-container breadcrumbs>Home > Inventory > Sensors</ng-container>
    <ng-container actions>
      <button
        [routerLink]="['/inventory/sensors', PageMode.CREATE]"
        mat-raised-button
        color="primary"
      >Create</button>
    </ng-container>
  </app-layout-header>

  <app-layout-filter>
    <div class="col-lg-3">
      <mat-form-field class="w-100">
        <mat-label>Search</mat-label>
        <input
          autocomplete="off"
          matInput
          placeholder="Type to filer"
          type="search"
          [ngModel]="search"
          (ngModelChange)="searchChange.next($event)"
        >
      </mat-form-field>
    </div>
  </app-layout-filter>

  <app-layout-content>
    <app-sensor-table
      [dataSource]="dataSource"
      [count]="count"
      (rowClick)="openFormDialog($event)"
      (previousPage)="loadData(cursorPrevious)"
      (nextPage)="loadData(cursorNext)"
      (sort)="onSort($event)"
    ></app-sensor-table>
  </app-layout-content>

</div>
