<mat-toolbar color="primary">
  <app-layout-topbar></app-layout-topbar>
</mat-toolbar>
<form class="container-fluid">
  <app-layout-header>
    <ng-container headline>
      <ng-container *ngIf="pageMode === PageMode.CREATE; then createTemplate; else editTemplate"></ng-container>
      <ng-template #createTemplate>
        Creating new sensor
      </ng-template>
      <ng-template #editTemplate>
        Sensor {{model?.station?.code}}.{{model?.location_code ? model?.location_code : '??'}}
      </ng-template>
    </ng-container>
    <ng-container breadcrumbs>
      Home > Inventory >
      <a [routerLink]="['/inventory/sensors']">Sensors</a> >
      {{model ? ('' + model?.station?.code +'.'+ (model?.location_code ? model?.location_code  : '??') + '') : 'Creating new sensor'}}
    </ng-container>
    <ng-container actions>
      <ng-container *ngIf="pageMode === PageMode.EDIT">
        <button
          class="float-right mt-3"
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Sensor menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            *ngIf="id"
            mat-menu-item
            color="primary"
            (click)="calculateLocation()"
          >
            <mat-icon>straighten</mat-icon>
            <span>Calulate location</span>
          </button><button
            *ngIf="id"
            mat-menu-item
            color="primary"
            (click)="delete(id)"
          >
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </ng-container>
    </ng-container>

  </app-layout-header>

  <app-layout-content>

    <mat-tab-group
      class="w-100"
      [selectedIndex]="currentTabId"
      (selectedTabChange)="tabChanged($event)"
    >
      <mat-tab label="Details">
        <ng-template matTabContent>
          <app-sensor-form
            [model]="model"
            [stationId]="queryParams ? queryParams['stationId'] : null"
            (modelEdited)="model = $event"
            (modelCreated)="openDetail($event)"
            [mode]="pageMode"
            (alongHoleZ)="alongHoleZChanged($event)"
          ></app-sensor-form>
        </ng-template>
      </mat-tab>

      <mat-tab
        label="Components ({{model?.components?.length > 0 ? model?.components?.length : 0}})"
        [disabled]="pageMode === PageMode.CREATE || !model"
      >
        <ng-template matTabContent>
          <div class="mt-3 w-100">
            <div class="w-100 d-flex justify-content-end">
              <div
                [matTooltip]="availableComponentCodes?.length === 0 ? 'All component codes are reserved':''"
                [matTooltipDisabled]="availableComponentCodes?.length > 0"
                matTooltipPosition="left"
              >
                <button
                  mat-raised-button
                  color="primary"
                  (click)="openComponentFormDialog()"
                  [disabled]="availableComponentCodes?.length === 0"
                >Add component</button>
              </div>
            </div>
            <app-component-table-2
              *ngIf="model?.components"
              (rowClick)="openComponentFormDialog($event)"
              [dataSource]="model?.components"
              [sensorId]="model?.id"
              (delete)="deleteComponent($event)"
            >
            </app-component-table-2>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab
        label="Signal quality"
        [disabled]="!model?.signal_quality"
      >
        <ng-template matTabContent>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">

              <table class="w-100 table">
                <tbody>
                  <tr>
                    <th>Id</th>
                    <td>{{model?.signal_quality?.id}}</td>
                  </tr>
                  <tr>
                    <th>Update timestamp</th>
                    <td>{{model?.signal_quality?.update_timestamp}}</td>
                  </tr>
                  <tr>
                    <th>Energy</th>
                    <td>{{model?.signal_quality?.energy}}</td>
                  </tr>
                  <tr>
                    <th>Integrity</th>
                    <td>{{model?.signal_quality?.integrity}}</td>
                  </tr>
                  <tr>
                    <th>Sampling rate</th>
                    <td>{{model?.signal_quality?.sampling_rate}}</td>
                  </tr>
                  <tr>
                    <th>Number of samples</th>
                    <td>{{model?.signal_quality?.num_samples}}</td>
                  </tr>
                  <tr>
                    <th>Amplitude</th>
                    <td>{{model?.signal_quality?.amplitude}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </app-layout-content>
</form>
