<div class=" position-relative">
  <h3
    class="text-center pt-5 pb-3"
    *ngIf="!dataSource || dataSource?.length === 0"
  >
    <ng-container *ngIf="!dataSource">
      Loading...
    </ng-container>
    <ng-container *ngIf="dataSource?.length === 0">
      No boreholes
    </ng-container>
  </h3>
  <table
    *ngIf="dataSource?.length > 0"
    mat-table
    matSort
    matSortActive="sensor"
    matSortDirection="asc"
    matSortDisableClear="true"
    (matSortChange)="onSort($event)"
    [dataSource]="dataSource"
    class=" w-100"
  >
    <ng-container
      matColumnDef="id"
      sticky
    >
      <th
        mat-header-cell
        *matHeaderCellDef
      > ID </th>
      <td
        mat-cell
        *matCellDef="let element"
      > {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
      ><span class="pl-3"> Name </span></th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        <a
          matTooltip="Show borehole detail"
          color="primary"
          [routerLink]="['/inventory/boreholes', element?.id]"
          mat-button
        >{{element?.name}}</a>
      </td>
    </ng-container>


    <ng-container matColumnDef="length">
      <th
        mat-header-cell
        *matHeaderCellDef
      ><span class=""> Length </span></th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        {{element?.length ? element?.length : '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="azimuth">
      <th
        mat-header-cell
        *matHeaderCellDef
      ><span class=""> Azimuth </span></th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        {{element?.azimuth ? element?.azimuth : '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="dip">
      <th
        mat-header-cell
        *matHeaderCellDef
      ><span class=""> Dip </span></th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        {{element?.dip ? element?.dip : '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="toe">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Toe (x, y, z)</th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        {{element?.toe_x ? element?.toe_x?.toFixed(2) + ', ' + element?.toe_y?.toFixed(2) +', '+ element?.toe_z?.toFixed(2) : '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="collar">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Collar (x, y, z)</th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        {{element?.collar_x ? element?.collar_x?.toFixed(2) + ', ' + element?.collar_y?.toFixed(2) +', '+ element?.collar_z?.toFixed(2) : '-'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="trace">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Trace</th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        <ng-container *ngIf="element?.trace;then traceTemplate else noTraceTemplate"></ng-container>
        <ng-template #traceTemplate>
          <mat-icon
            class="mat-18"
            [color]="'primary'"
          >check_circle_outline</mat-icon>
        </ng-template>
        <ng-template #noTraceTemplate>
          <mat-icon
            class="mat-18"
            [color]="'warn'"
          >highlight_off</mat-icon>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="survey">
      <th
        mat-header-cell
        *matHeaderCellDef
      > Survey file</th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        <ng-container *ngIf="element?.survey_file;then surveyTemplate else noSureyTemplate"></ng-container>
        <ng-template #surveyTemplate>
          <mat-icon
            class="mat-18"
            [color]="'primary'"
          >check_circle_outline</mat-icon>
        </ng-template>
        <ng-template #noSureyTemplate>
          <mat-icon
            class="mat-18"
            [color]="'warn'"
          >highlight_off</mat-icon>
        </ng-template>
      </td>
    </ng-container>


    <ng-container
      matColumnDef="actions"
      stickyEnd
    >
      <th
        mat-header-cell
        *matHeaderCellDef
      >
      </th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          aria-label="Borehole menu"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            *ngIf=""
            mat-menu-item
            color="primary"
            [routerLink]="['/inventory/boreholes', element.id]"
          >
            <mat-icon>visibility</mat-icon>
            <span>Detail</span>
          </button>
          <div
            [matTooltipPosition]="'left'"
            [matTooltip]="'Add survey file to enable'"
            [matTooltipDisabled]="element?.trace"
          >
            <button
              mat-menu-item
              [disabled]="!element?.trace"
              (click)="onInterpolate(element)"
            >
              <mat-icon>straighten</mat-icon>
              <span>Calculate sensor</span>
            </button>
          </div>
          <button
            mat-menu-item
            (click)="onSurveyFile(element)"
          >
            <mat-icon>cloud_upload</mat-icon>
            <span>Upload survey file</span>
          </button>
          <button
            mat-menu-item
            [routerLink]="['/inventory/boreholes', element.id]"
          >
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button
            mat-menu-item
            (click)="onDelete(element.id)"
          >
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[15]"
    [pageSize]="pageSize"
    [length]="count"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>
