<footer class="footer">
  <div class="d-flex justify-content-between">
    <nav class="pl-3">
      <ul>
        <li>
          <a href="https://api.microquake.org">
            Microquake
          </a>
        </li>
        <li>
          <a href="https://www.microquake.org/about-us">
            About Us
          </a>
        </li>
        <li>
          <a href="https://www.microquake.org/license">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="pr-3 copyright">
      &copy;
      {{today | date: 'yyyy'}},
      <a
        href="https://www.microquake.org"
        target="_blank"
      >Microquake</a>.
    </div>
  </div>
</footer>
