.sidebar-wrapper {
    width: 450px !important;
    padding-bottom: 0px;
    overflow: visible;
}

.sidebar-tree {
	height: calc(65vh - 25px);
    margin-top:0px;
    margin-bottom:20px;
}

.sidebar-event {
	height: calc(30vh - 10px);
    margin-top:20px;
    margin-bottom:0px;
}

.table-extra-condensed > thead > tr > th,
.table-extra-condensed > tbody > tr > th,
.table-extra-condensed > tfoot > tr > th,
.table-extra-condensed > thead > tr > td,
.table-extra-condensed > tbody > tr > td,
.table-extra-condensed > tfoot > tr > td {
  padding: 2px;
}

.text-color {
  color: blue !important;
}