<div class="logo">
  <a href="https://api.microquake.org" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/pulse.png"/>
    </div>
    Microquake
  </a>
</div>
<div class="sidebar-wrapper">
  <!--div class="card border-primary" [style.height.px]="window_height*0.6"style="height: 60vh;" -->
  <div class="card sidebar-tree">
    <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
    <div class='mat-app-background basic-container' style="overflow: auto">
      <app-events-tree (messageEvent)='getTreeNotification($event)'></app-events-tree>
    </div>
  </div>
  <div class="card sidebar-event">
    <div class='card-header text-color' id='infoTime' *ngIf="eventHeader">{{eventHeader}}
    <button mat-mini-fab matTooltip='Reprocess Event' class='btn-toolbar btn btn-primary' (click)='onReprocessEvent()'><mat-icon>input</mat-icon></button>
    </div>
    <div style="overflow: auto" id="eventInfoCard">
      <div class='card-body' style="padding:0px 20px;">
        <table class="table table-extra-condensed">
          <tbody>
            <tr>
              <th scope="row">Magnitude</th>
              <td>{{origin.magnitude}}</td>
            </tr>
            <tr>
              <th scope="row">Location</th>
              <td>X {{origin.x}} m East</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Y {{origin.y}} m North</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Z {{origin.z}} m</td>
            </tr>
            <tr>
              <th scope="row">Picks</th>
              <td>{{origin.npick}}</td>
            </tr>
            <tr>
              <th scope="row">Type
                <button mat-mini-fab id='toggleSaveEventType' matTooltip='Save Event Type and Status' class='btn btn-primary' data-toggle='button' aria-pressed='false' autocomplete='off'><mat-icon>save_alt</mat-icon></button>
              </th>
              <td>
                <mat-form-field class="selector">
                  <mat-select [(ngModel)]="origin.event_type" (selectionChange)='onChangeEventType($event)'>
                    <mat-option *ngFor="let type of eventTypes" [value]="type.quakeml_type" matTooltip="{{type.viewValue}}">
                      {{type.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <th scope="row">Status
                <button mat-mini-fab id='toggleSaveEventStatus' matTooltip='Save Event Type and Status' class='btn btn-primary' data-toggle='button' aria-pressed='false' autocomplete='off'><mat-icon>save_alt</mat-icon></button>
              </th>
              <td>
                <mat-form-field class="selector">
                  <mat-select [(ngModel)]="origin.status" (selectionChange)='onChangeEvaluationStatus($event)'>
                    <mat-option *ngFor="let etype of evalTypes" [value]="etype.status">
                    {{etype.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <th scope="row">Mode</th>
              <td>{{origin.mode}}</td>
            </tr>
            <tr *ngIf='origin.time_residual'>
              <th scope="row">Time Residual</th>
              <td>{{origin.time_residual}}</td>
            </tr>
            <tr *ngIf='origin.uncertainty'>
              <th scope="row">Uncertainty</th>
              <td>{{origin.uncertainty}}</td>
            </tr>
            <tr>
              <td colspan="2" id='alertMsg' *ngIf='tracesInfo' class="alert alert-warning alert-dismissable">
                <button type="button" class="close" (click)='tracesInfo = ""' aria-hidden="true">&times;</button>
                {{tracesInfo}}
              </td>
            </tr>
            <tr>
              <td colspan="2" id='alertMessage' *ngIf='picksWarning' class="alert alert-warning alert-dismissable">
                <button type="button" class="close" (click)='picksWarning = ""' aria-hidden="true">&times;</button>
                {{picksWarning}}
              </td>
            </tr>
            <tr *ngIf='origin.event_resource_id'>
              <th scope="row">event_resource_id</th>
              <td>{{origin.event_resource_id}}</td>
            </tr>
            <tr *ngIf='origin.preferred_origin_id'>
              <th scope="row">preferred_origin_id</th>
              <td>{{origin.preferred_origin_id}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <app-notifier></app-notifier>
  </div>
</div>
