<mat-toolbar color="primary">
  <app-layout-topbar></app-layout-topbar>
</mat-toolbar>
<form class="container-fluid">

  <app-layout-header>
    <ng-container headline>
      <ng-container *ngIf="pageMode === PageMode.CREATE; then createTemplate; else editTemplate"></ng-container>
      <ng-template #createTemplate>
        Creating new station
      </ng-template>
      <ng-template #editTemplate>
        Station {{model?.code}}
      </ng-template>
    </ng-container>
    <ng-container breadcrumbs>
      Home > Inventory >
      <a [routerLink]="['/inventory/stations']">Stations</a> >
      {{model?.id ? model?.code : 'Creating new station'}}
    </ng-container>
    <ng-container actions>
      <button
        class="float-right mt-3"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Sensor menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button
          *ngIf="model"
          mat-menu-item
          color="primary"
          (click)="delete(model?.id)"
        >
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </ng-container>

  </app-layout-header>

  <app-layout-content>
    <mat-tab-group
      [selectedIndex]="currentTabId"
      (selectedTabChange)="tabChanged($event)"
      class="w-100 "
    >
      <mat-tab label="Detail">
        <ng-template matTabContent>
          <div class="mt-3 mx-3">
            <app-station-form
              [sites]="sites"
              [(model)]="model"
              [mode]="pageMode"
              (modelCreated)="onCreated($event)"
            ></app-station-form>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab
        label="Maintenance"
        [disabled]="pageMode === PageMode.CREATE"
      >
        <ng-template matTabContent>
          <div class="mt-3 w-100">
            <div class="m-5">
              <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                  <app-maintenance-input
                    [maintenanceCategories]="maintenanceCategories"
                    [maintenanceStatuses]="maintenanceStatuses"
                    [stationFixed]="model"
                    (created)="onCreatedMaintenanceEvent($event)"
                    class="m-auto"
                  ></app-maintenance-input>
                </div>
              </div>
              <div class="row">
                <div class="col mt-5"></div>
              </div>
            </div>
            <div class="mt-5">
              <app-maintenance-table-2
                [dataSource]="maintenanceEvents"
                (rowClick)="openMaintenanceFormDialog($event)"
                [count]="maintenanceEventsCount"
                [maintenanceCategories]="maintenanceCategories"
                [maintenanceStatuses]="maintenanceStatuses"
                (nextPage)="changeMaintenanceEventsPage(maintenanceEventsCursorNext)"
                (previousPage)="changeMaintenanceEventsPage(maintenanceEventsCursorPrevious)"
                (delete)="onDeleteMaintenanceEvents($event)"
              >
              </app-maintenance-table-2>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab
        label="Sensors ({{model?.sensors_count ? model?.sensors_count : (sensorsCount ? sensorsCount : 0)}})"
        [disabled]="pageMode === PageMode.CREATE"
      >
        <ng-template matTabContent>
          <div class="mt-3 w-100">
            <div class="w-100 d-flex justify-content-end">
              <button
                [routerLink]="['/inventory/sensors', PageMode.CREATE]"
                [queryParams]="{ stationId: id}"
                color="primary"
                mat-raised-button
              >Create</button>
            </div>
            <app-sensor-table
              (rowClick)="openFormDialog($event)"
              [dataSource]="sensorsDataSource"
              [count]="sensorsCount"
              (nextPage)="getSensors(sensorsCursorNext)"
              (previousPage)="getSensors(sensorsCursorPrevious)"
              (sort)="onSensorsSort($event)"
            ></app-sensor-table>
          </div>
        </ng-template>
      </mat-tab>

    </mat-tab-group>

  </app-layout-content>
</form>
