<mat-form-field *ngIf="type === 'select'">
  <mat-label>{{label}}</mat-label>
  <mat-select
    [(ngModel)]="multiple ? selectedEventTypes : selectedEventType"
    (selectionChange)="multiple ? onChangeEventTypes($event) : onChangeEventType($event)"
    [multiple]="multiple"
  >
    <mat-select-trigger>
      <ng-container *ngIf="multiple">
        {{selectedEventTypes ? selectedEventTypes[0]?.microquake_type : ''}}
        <span
          *ngIf="selectedEventTypes?.length > 1"
          class="example-additional-selection"
        >
          (+{{selectedEventTypes.length - 1}} {{selectedEventTypes?.length === 2 ? 'other' : 'others'}})
        </span>
      </ng-container>
      <ng-container *ngIf="!multiple">
        {{selectedEventType?.microquake_type}}
      </ng-container>
    </mat-select-trigger>
    <mat-option
      *ngFor="let eventTypeEL of eventTypes"
      [value]="eventTypeEL"
      matTooltip="{{eventTypeEL.identifier}} - {{eventTypeEL.microquake_type}}"
    >
      <mat-icon>
        {{eventTypeEL?.identifier | eventTypeIcon}}
      </mat-icon>
      <span>
        {{eventTypeEL.identifier}} - {{eventTypeEL.microquake_type}}
      </span>
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field
  *ngIf="type === 'chip'"
  class="no-underline"
>
  <mat-chip-list
    #chipList
    [multiple]="true"
  >
    <mat-chip
      color="primary"
      (click)="onNoFilterChipClick()"
      [selected]="!selectedEventTypes || selectedEventTypes?.length  === 0"
      [ngClass]="{'faded': selectedEventTypes?.length  > 0}"
      [selectable]="true"
    >
      No filter
    </mat-chip>
    <mat-chip
      color="warn"
      [ngClass]="{'faded': !selectedEventTypes || selectedEventTypes?.length  === 0}"
      *ngFor="let eventType of eventTypes"
      [selected]="selectedEventTypes && selectedEventTypes?.indexOf(eventType) > -1"
      [selectable]="true"
      (click)="onChipClick(eventType)"
      class="text-capitalize"
    >
      <mat-icon>
        {{eventType?.identifier | eventTypeIcon}}
      </mat-icon>
      {{eventType?.microquake_type}}
    </mat-chip>
  </mat-chip-list>

</mat-form-field>
