<mat-form-field>
  <mat-label>{{label}}</mat-label>
  <mat-select
    [(ngModel)]="multiple ? selectedEventTypes : selectedEventType"
    (selectionChange)="multiple ? onChangeEventTypes($event) : onChangeEventType($event)"
    [multiple]="multiple"
  >
    <mat-select-trigger>
      <ng-container *ngIf="multiple">
        {{selectedEventTypes ? selectedEventTypes[0]?.microquake_type : ''}}
        <span
          *ngIf="selectedEventTypes?.length > 1"
          class="example-additional-selection"
        >
          (+{{selectedEventTypes.length - 1}} {{selectedEventTypes?.length === 2 ? 'other' : 'others'}})
        </span>
      </ng-container>
      <ng-container *ngIf="!multiple">
        {{selectedEventType?.microquake_type}}
      </ng-container>
    </mat-select-trigger>
    <mat-option
      *ngFor="let eventTypeEL of eventTypes"
      [value]="eventTypeEL"
      matTooltip="{{eventTypeEL.identifier}} - {{eventTypeEL.microquake_type}} ({{eventTypeEL.quakeml_type}})"
    >
      <mat-icon>
        {{eventTypeEL?.identifier | eventTypeIcon}}
      </mat-icon>
      <span>
        {{eventTypeEL.identifier}} - {{eventTypeEL.microquake_type}} ({{eventTypeEL.quakeml_type}})
      </span>
    </mat-option>
  </mat-select>
</mat-form-field>
