<div class="container p-5">
  <h1>Events</h1>
  <div class="row pt-3">
    <div class="col-5">

      <mat-form-field class='w-100'>
        <mat-label>Site</mat-label>
        <mat-select
          [(ngModel)]="selectedSite"
          (selectionChange)='onChangeSite($event)'
        >
          <mat-option
            *ngFor="let site of sites"
            [value]="site"
          >
            {{site.name}}
          </mat-option>
        </mat-select>
        <button
          mat-button
          *ngIf="selectedSite"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)='clearSelections($event)'
        >
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>

    </div>
    <div class="col-5">
      <mat-form-field class='w-100'>
        <mat-label>Network</mat-label>
        <mat-select
          [(ngModel)]="selectedNetwork"
          (selectionChange)='onChangeNetwork($event)'
          [disabled]="!selectedSite"
        >
          <mat-option
            *ngFor="let network of selectedSite?.networks"
            [value]="network"
          >
            {{network.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-2">
      <button
        mat-raised-button
        [disabled]="!selectedSite || !selectedNetwork"
        color="accent"
        type="submit"
        (click)='submit()'
      >Submit</button>
    </div>
  </div>
</div>
