<div
  [style.width]="width"
  class="d-flex"
>
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawerClick()"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="mr-auto"></div>
  <ng-container *ngIf="showEventSidebarButton">
    <button
      type="button"
      aria-label="Toggle event sidebar"
      mat-icon-button
      (click)="onSidebarButtonClick(!eventSidebarOpened)"
    >
      <mat-icon
        *ngIf="eventSidebarOpened"
        aria-label="Event sidebar icon"
      >arrow_left</mat-icon>
      <mat-icon
        *ngIf="!eventSidebarOpened"
        aria-label="Event sidebar icon"
      >arrow_right</mat-icon>
    </button>

  </ng-container>

</div>
