<mat-toolbar
  color="primary"
  class="overflow-auto"
>
  <app-layout-topbar
    [showEventSidebarButton]="false"
    [eventSidebarOpened]="waveformService.sidebarOpened | async"
    (eventSidebarOpenedChange)="onEventSidebarCollapseClick()"
    [width]="'335px'"
  >
    <app-event-site-picker></app-event-site-picker>
  </app-layout-topbar>

  <div class="buttons-group ml-2">
    <div class="buttons-group-content">
      <mat-button-toggle-group
        class="picking-mode"
        name="pickingMode"
        aria-label="Picking Mode"
        matTooltip="Select Picking Mode P or S. Click again to deselect"
        #group="matButtonToggleGroup"
        [ngModel]="this.waveformService.pickingMode | async"
      >
        <mat-button-toggle
          [value]="PickKey.P"
          (click)="onPickingModeChange(PickKey.P)"
        >
          P
        </mat-button-toggle>
        <mat-button-toggle
          [value]="PickKey.S"
          (click)="onPickingModeChange(PickKey.S)"
        >
          S
        </mat-button-toggle>
      </mat-button-toggle-group>


      <button
        mat-icon-button
        matTooltip="Undo Last Picking Operation"
        (click)="onUndoLastPickingClick()"
      >
        <mat-icon>undo</mat-icon>
      </button>
    </div>
  </div>

  <div class="buttons-group ml-2">
    <div class="buttons-group-content">
      <div
        [matTooltipDisabled]="(waveformService.batchPicksDisabled | async) === false"
        matTooltip="No arrivals to load"
      >
        <button
          mat-icon-button
          [disabled]="waveformService.batchPicksDisabled | async"
          [matTooltip]="((waveformService.batchPicks | async) ? 'Unload' : 'Load') + ' arrivals from latest reprocessing'"
          (click)="onBatchPicksClick()"
        >
          <ng-container *ngIf="(waveformService.batchPicksDisabled | async)">
            <mat-icon>cloud_off</mat-icon>
          </ng-container>
          <ng-container *ngIf="(waveformService.batchPicksDisabled | async) === false">
            <mat-icon *ngIf="!(waveformService.batchPicks | async)">cloud_download</mat-icon>
            <mat-icon *ngIf="(waveformService.batchPicks | async)">cloud_done</mat-icon>
          </ng-container>
        </button>
      </div>

      <div
        [matTooltip]="'Interactive processing' + (interactiveProcessingDisabled ? '. Currently DISABLED, because another reprocessing is already running.' : '')"
      >
        <button
          mat-icon-button
          (click)="onInteractiveProcessClick()"
          [disabled]="interactiveProcessingDisabled"
        >
          <mat-icon>play_circle_outline</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="mr-auto"></div>

  <div class="buttons-group ml-2">
    <div class="buttons-group-content">

      <button
        mat-icon-button
        matTooltip="Undo Zoom or Pan on Time Axis"
        (click)="onBackClick()"
      >
        <mat-icon>youtube_searched_for</mat-icon>
      </button>

      <button
        mat-icon-button
        matTooltip="Reset View after Zoom or Pan"
        (click)="onResetAllChartsViewClick()"
      >
        <mat-icon>find_replace</mat-icon>
      </button>
    </div>
  </div>
  <div class="buttons-group ml-2">
    <div class="buttons-group-content">
      <button
        [disabled]="helpDialogOpened"
        mat-icon-button
        matTooltip='Open filter'
        (click)="onWaveformFilterDialogClick()"
      >
        <mat-icon>colorize</mat-icon>
      </button>

      <button
        mat-icon-button
        matTooltip="Options"
        (click)="options.open()"
      >
        <mat-icon>ballot</mat-icon>
        <mat-select
          [formControl]="optionsForm"
          multiple
          #options
          class="langSelect"
        >
          <mat-option value="commonTimeScale">Common Time Scale</mat-option>
          <mat-option value="commonAmplitudeScale">Common Amplitude Scale</mat-option>
          <mat-option value="zoomAll">Zoom or Pan All Channels</mat-option>
          <mat-option value="displayEntireTraces">Display Entire Traces</mat-option>
          <mat-option value="displayComposite">Display Composite or 3-Component Traces</mat-option>
          <mat-option value="displayRotated">Display Rotated or XYZ Traces</mat-option>
          <mat-option value="displayDistanceTime">Display Distance Time Chart</mat-option>
          <mat-option value="predictedPicks">Predicted Picks</mat-option>
          <mat-option value="predictedPicksBias">Remove Predicted Picks Bias</mat-option>
        </mat-select>
      </button>

      <button
        [disabled]="helpDialogOpened"
        mat-icon-button
        matTooltip='Show Help'
        (click)="onHelpDialogClick()"
      >
        <mat-icon>help</mat-icon>
      </button>
    </div>
  </div>

  <div class="buttons-group ml-2">
    <div class="buttons-group-content">
      <button
        mat-icon-button
        [disabled]="
    (waveformService.currentPage | async) <= 1 ||
    (waveformService.loading | async)
    "
        (click)="onAddPage(-1)"
        matTooltip="Previous page"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <div
        class="pagination-pages"
        (click)="pagination.open()"
        matTooltip="Select specific waveform page"
      >
        <span>
          <span class="current">{{waveformService.currentPage | async}}</span> /
          {{waveformService.maxPages | async}}<br>
        </span>
        <span class="suffix-label">pages</span>
      </div>
      <button
        class="pagination-button"
        mat-icon-button
        (click)="pagination.open()"
      >
        <mat-select
          [formControl]="paginationForm"
          #pagination
          class="langSelect"
        >
          <mat-option
            *ngFor="let paginationPage of paginationPages"
            (click)="onChangeToCustomPage(paginationPage)"
            [value]="paginationPage"
          >{{paginationPage}}</mat-option>
        </mat-select>
      </button>
      <button
        mat-icon-button
        [disabled]="
    (waveformService.currentPage | async) === (waveformService.maxPages | async) ||
    (waveformService.loading | async)
    "
        (click)="onAddPage(1)"
        matTooltip="Next page"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
