.mat-form-field {
  width: 100%;
  font-size: 16px;
}

.input-form-width {
  width: 80px;
  padding: 0px;
  margin: 0px;
}

.input-form-width-less {
  width: 60px;
  padding: 0px;
  margin: 0px;
}

#toolbar {
  button {
    float: left;
  }

  .pagination {
    float: left;
  }

  mat-button-toggle-group {
    float: left;
  }
}

.filters {
  margin-top: 20px;

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

.activatable {
  opacity: 0.5;

  &.active {
    opacity: 1;
  }
}

mat-paginator {
  background: transparent;
  color: #fff;

  ::ng-deep .mat-paginator-range-label {
    margin: 0px;
  }
}

.pagination-button {
  width: 0;
}

.pagination-pages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  cursor: pointer;
  width: 40px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  margin: auto;

  .current {
    font-weight: 400;
  }

  .suffix-label {
    font-size: 11px;
    opacity: 0.5;
  }
}

::ng-deep .langSelect div.mat-select-arrow-wrapper {
  display: none;
}

::ng-deep .langSelect.mat-select {
  display: inline;
}

.picking-mode ::ng-deep .mat-button-toggle-label-content {
  line-height: 38px;
}

.buttons-group {
  display: flex;
  flex-direction: column;
  height: 50px;
  border-radius: 5px;
  background: #394ba7;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  position: relative;

  .buttons-group-header {
    position: absolute;
    margin: auto;
    left: 5px;
    font-size: 9px;
    line-height: 7px;
    color: #fff;
    opacity: 0.8;
  }

  .buttons-group-content {
    display: flex;
  }
}
