<mat-toolbar color="primary">
  <app-header-layout
    [showEventSidebarButton]="false"
    [eventSidebarOpened]="waveformService.sidebarOpened | async"
    (eventSidebarOpenedChange)="onEventSidebarCollapseClick()"
    [width]="'335px'"
  >
    <app-event-site-picker></app-event-site-picker>
  </app-header-layout>

  <button
    mat-icon-button
    matTooltip="Common Time Scale for All Channels"
    class="activatable"
    [ngClass]="{'active': waveformService.commonTimeScale | async}"
    (click)="onCommonTimeScaleClick()"
  >
    <mat-icon>more_horiz</mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Common Amplitude Scale for All Channels"
    class="activatable"
    [ngClass]="{'active': waveformService.commonAmplitudeScale | async}"
    (click)="onCommonAmplitudeScaleClick()"
  >
    <mat-icon>more_vert</mat-icon>
  </button>


  <button
    mat-icon-button
    matTooltip="Zoom or Pan All Channels"
    class="activatable"
    [ngClass]="{'active': waveformService.zoomAll | async}"
    (click)="onZoomAllClick()"
  >
    <mat-icon>link</mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Undo last Time Zoom or Pan"
    (click)="onBackClick()"
  >
    <mat-icon>undo</mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Reset View after Zoom or Pan"
    (click)="onResetAllChartsViewClick()"
  >
    <mat-icon>settings_backup_restore</mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Display Composite or 3-Component Traces"
    class="activatable"
    [ngClass]="{'active': waveformService.displayComposite | async}"
    (click)="onDisplayCompositeClick()"
  >
    <mat-icon>filter_3</mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Display Rotated or XYZ Traces"
    class="activatable"
    [ngClass]="{'active': waveformService.displayRotated | async}"
    (click)="onDisplayRotatedClick()"
  >
    <mat-icon>3d_rotation</mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Toggle Predicted Picks"
    class="activatable"
    [ngClass]="{'active': waveformService.predictedPicks | async}"
    (click)="onPredictedPicksClick()"
  >
    <mat-icon>blur_linear</mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Toggle Remove Predicted Picks Bias"
    class="activatable"
    [ngClass]="{'active': waveformService.predictedPicksBias | async}"
    (click)="onPredictedPicksBiasClick()"
  >
    <mat-icon>compare_arrows</mat-icon>
  </button>

  <button
    [disabled]="helpDialogOpened"
    mat-icon-button
    matTooltip='Show Help'
    (click)="onHelpDialogClick()"
  >
    <mat-icon>help</mat-icon>
  </button>

  <div class="float-left filters">

    <mat-form-field
      class="input-form-width float-left"
      appearance="standard"
    >
      <mat-label>Low Corner</mat-label>
      <input
        matInput
        matTooltip="Butterworth Filter Low Corner Frequency"
        type="number"
        step="10"
        min="0"
        (keydown.enter)="onApplyFilter()"
        [(ngModel)]="lowFreqCorner"
        #minRateControl="ngModel"
      >
    </mat-form-field>

    <mat-form-field
      class="input-form-width float-left"
      appearance="standard"
    >
      <mat-label>High Corner</mat-label>
      <input
        matInput
        matTooltip="Butterworth Filter High Corner Frequency"
        type="number"
        step="100"
        [max]="maxFreq"
        (keydown.enter)="onApplyFilter()"
        [(ngModel)]="highFreqCorner"
        #rateControl="ngModel"
      >
    </mat-form-field>

    <mat-form-field
      class="input-form-width-less float-left"
      appearance="standard"
    >
      <mat-label>Poles</mat-label>
      <input
        matInput
        matTooltip="Number of Poles for Butterworth Filter"
        type="number"
        (keydown.enter)="onApplyFilter()"
        [(ngModel)]="numPoles"
        [ngModelOptions]="{standalone: true}"
      >
    </mat-form-field>

  </div>

  <button
    mat-icon-button
    matTooltip="Apply Filter"
    (click)="onApplyFilter()"
  >
    <mat-icon>redo</mat-icon>
  </button>

  <mat-button-toggle-group
    name="pickingMode"
    aria-label="Picking Mode"
    matTooltip="Select Picking Mode P, S or None"
    #group="matButtonToggleGroup"
    [ngModel]="this.waveformService.pickingMode | async"
    (ngModelChange)="onPickingModeChange($event)"
  >
    <mat-button-toggle value="P">
      <mat-icon>local_parking</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="S">
      <mat-icon>strikethrough_s</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="none">
      <mat-icon>trip_origin</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <button
    mat-icon-button
    matTooltip="Undo Last Picking Operation"
    (click)="onUndoLastPickingClick()"
  >
    <mat-icon>cached</mat-icon>
  </button>

  <div
    [matTooltip]="'Interactive processing' + (interactiveProcessingDisabled ? '. Currently DISABLED, because another reprocessing is already running.' : '')"
  >
    <button
      mat-icon-button
      (click)="onInteractiveProcessClick()"
      [disabled]="interactiveProcessingDisabled"
    >
      <mat-icon>launch</mat-icon>
    </button>
  </div>
  <div class="mr-auto"></div>
  <button
    mat-icon-button
    [disabled]="
    (waveformService.currentPage | async) <= 1 ||
    (waveformService.loading | async)
    "
    (click)="onPageChangedFirst()"
  >
    <mat-icon>first_page</mat-icon>
  </button>
  <button
    mat-icon-button
    [disabled]="
    (waveformService.currentPage | async) <= 1 ||
    (waveformService.loading | async)
    "
    (click)="onPageChanged(-1)"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <small class="pagination-pages">
    <span class="current">{{waveformService.currentPage | async}}</span> / {{waveformService.maxPages | async}}<br>
    <span class="suffix-label">pages</span>
  </small>
  <button
    mat-icon-button
    [disabled]="
    (waveformService.currentPage | async) === (waveformService.maxPages | async) ||
    (waveformService.loading | async)
    "
    (click)="onPageChanged(1)"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
  <button
    mat-icon-button
    [disabled]="
    (waveformService.currentPage | async) === (waveformService.maxPages | async) ||
    (waveformService.loading | async)
    "
    (click)="onPageChangedLast()"
  >
    <mat-icon>last_page</mat-icon>
  </button>
</mat-toolbar>
